/* Branding
 ========================================================================== */

.tm-site-branding,
.tm-site-branding a {
    font-size: 24px;
    line-height: 24px;
    color: @base-heading-color;
    font-weight: 200;
    text-decoration: none;
}


/* Main
 ========================================================================== */

.tm-main {
    word-wrap: break-word;
}


/* Article
 ========================================================================== */

.tm-article-image {
    margin-top: @utility-margin + ( @utility-margin / 2 );
    margin-bottom: @utility-margin + ( @utility-margin / 2 );
}

article > .tm-article-image:first-child,
article header > .tm-article-image:first-child {
    margin-top: 0;
}

/* Phone landscape and smaller */

@media (max-width: @breakpoint-small) {

    article.uk-panel-box {
        padding: 20px 15px;
    }

}


/* Comments
 ========================================================================== */

.tm-comments {
    margin-top: @grid-gutter-vertical;
    margin-bottom: @grid-gutter-vertical;
}

.tm-comment-links a {
    font-size: @text-small-font-size;
    margin-bottom: 0;
}

.form-allowed-tags code {
    white-space: normal;
    display: block;
}

/* Phone landscape and smaller */

@media (max-width: @breakpoint-small) {

    .tm-comments.uk-panel-box {
        padding: 20px 15px;
        margin-right: -15px;
        margin-left: -15px;
    }

}

/* Comment form
 ========================================================================== */




/* WordPress theme requirement
 ========================================================================== */

.alignleft {
    display: block;
    margin-right: @utility-align-horizontal;
    float: left;
}

.alignright {
    display: block;
    margin-left: @utility-align-horizontal;
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption,
.wp-caption img {
    max-width: 100%;
    text-align: center;
}

.wp-caption-text {
    font-size: 11px;
    color: @global-muted-color;
    margin: 3px 0;
}

/* Hide visually but not from screen readers */
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(12, 4, 4, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.screen-reader-shortcut {
	position: absolute;
	top: -1000em;
}

.screen-reader-shortcut:focus {
	left: 6px;
	top: 15px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #0073aa;
	z-index: 100000;
	line-height: normal;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	text-decoration: none;
	outline: none;
}

.beans-skip-links {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	left: -9999em;
	outline: none;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
	margin: 0;
}

.beans-skip-links li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: 1px #ccc solid;
}
