//colors
$color_shiraz_approx: #5fc7d1;
$white: #ffffff;
$color_red_ribbon_approx: #fff;
$color_bon_jour_approx: #e0e0e0;
$wild_sand: #f4f4f4;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

//urls
$url_0: url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

//@extend-elements
//original selectors
//#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a
%extend_1 {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: $font_0, $font_1;
  font-size: 14px;
  position: relative;

}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
#masthead{
	background-color: rgba(255, 255, 255, 0.82);
    position: absolute;
    z-index: 33;
    width: 100%;
}
#sideMenu {
  @extend %extend_1;
  width: 250px;
  ul {
    @extend %extend_1;
    ul {
      display: none;
      li {
        border: 1px solid $color_shiraz_approx;
        border-top: 0;
        background: $color_shiraz_approx;
      }
      a {
        padding: 10px;
        display: block;
        color: $color_red_ribbon_approx;
        font-size: 13px;
		&:hover {
          color: $wild_sand;
        }
      }
    }
  }
  li {
    @extend %extend_1;
  }
  a {
    @extend %extend_1;
    line-height: 1.3;
  }
  > ul > li {
	
    > a {
      padding-right: 40px;
      font-size: 25px;
      font-weight: bold;
      display: block;
      background: $color_shiraz_approx;
      color: $white;
      text-transform: uppercase;
      > span {
        background: $color_red_ribbon_approx;
        padding: 10px;
        display: block;
        font-size: 13px;
        font-weight: 300;
      }
	 /* &:after{
		  content:"";
		  float:left;
		  width:80%;
		  border-bottom:1px solid #FFFFFF;
		  margin:0 auto;
		  padding-top:calc(19vw / 17.51);
	  }*/
      &:hover {
        text-decoration: none;
		color:#96c251;
      }
    }
    &.active {
      border-bottom: none;
      > a {
		color:#96c251;
        span {
          background: $color_shiraz_approx;
        }
      }
    }
  }
  span.cnt {
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: none;
  }
}
.menu-item-language-current a,.menu-item-language a:hover {
  font-weight: 700;
}

.main-navigation ul>.menu-item-language~.menu-item-language {
  padding-left: 0!important;
}

.main-navigation ul > .menu-item-language ~ .menu-item-language a::before {
  content: " ";
  width: 2px;
  border-left: 2px solid #333;
  padding-right: 10px;
}


