//colors
$color_tundora_approx: #fff;
$color_tuatara_approx: #363636;
$color_mine_shaft_approx: #000;
$color_alto_approx: #000;
$white: #fff;
$color_shark_approx: #62e4ee;
$color_fuscous_gray_approx: #7A6E66;
$color_lima_approx: #7A6E66;
$color_la_palma_approx: #7A6E66;
$color_mountain_mist_15_approx: rgba(150,150,150,0.15);

//fonts
$font_0: verdana;
$font_1: sans-serif;

//@extend-elements
//original selectors
//#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile
%extend_1_mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}

//original selectors
//#cssmenu:after, #cssmenu >ul:after
%extend_2_mobile {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.headerMobile{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.82);
  header {
    position: relative;
    width: 100%;
    //background: $color_mine_shaft_approx;
  }
  .logo {
    position: relative;
    z-index: 123;
    font: 18px $font_0;
    color: $color_lima_approx;
    float: left;
    width: 15%;
	padding:12px;
    a {
      color: $color_lima_approx;
	  padding: 7px 0 7px 20px;
	  img{
		  max-width:100px;
	  }
    }
  }
  nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
  }

  #cssmenu {
    >ul{
      margin: 0px!important;
    }
    ul{
      padding: 0px;
    }
    @extend %extend_1_mobile;
    font-family: $font_1;
    //background: $color_mine_shaft_approx;
    ul {
      @extend %extend_1_mobile;
      li {
        @extend %extend_1_mobile;
        a {
          @extend %extend_1_mobile;
        }
        &.active {
          background: $color_la_palma_approx!important;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: background .3s ease;
          a {
            color: $white;
          }
          &:hover {
            background: $color_la_palma_approx!important;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: background .3s ease;
          }
        }
        &.has-sub {
          &.active:hover {
            background: $color_la_palma_approx!important;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: background .3s ease;
          }
          ul li.has-sub ul li:hover {
            background: $color_tuatara_approx;
          }
        }
      }
      ul {
        position: absolute;
        left: -9999px;
        li {
          height: 0;
          background: $color_mine_shaft_approx;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all .25s ease;
          a {
            border-bottom: 1px solid $color_mountain_mist_15_approx;
            padding: 11px 15px;
            width: 170px;
            font-size: 12px;
            text-decoration: none;
            color: $color_alto_approx;
            font-weight: 400;
            &:hover {
              color: $white;
            }
          }
          &.has-sub {
            > a {
              &:after {
                position: absolute;
                top: 16px;
                right: 11px;
                width: 8px;
                height: 2px;
                display: block;
                background: $color_alto_approx;
                content: '';
              }
              &:before {
                position: absolute;
                top: 13px;
                right: 14px;
                display: block;
                width: 2px;
                height: 8px;
                background: $color_alto_approx;
                content: '';
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all .25s ease;
              }
            }
            &:hover {
              background: $color_tuatara_approx;
            }
          }
          &:hover > a {
            color: $white;
          }
          &:last-child > a {
            border-bottom: 0;
          }
          &.last-item > a {
            border-bottom: 0;
          }
        }
        ul {
          margin-left: 100%;
          top: 0;
          li.active a {
            border-left: 1px solid $color_mine_shaft_approx;
          }
        }
        > li.has-sub:hover > a:before {
          top: 17px;
          height: 0;
        }
      }
    }
    #head-mobile {
      @extend %extend_1_mobile;
      display: none;
    }
    &:after {
      @extend %extend_2_mobile;
    }
    > ul {
      &:after {
        @extend %extend_2_mobile;
      }
      > li {
        float: left;
        > a {
          padding: 17px;
          font-size: 12px;
          letter-spacing: 1px;
          text-decoration: none;
          color: $color_alto_approx;
          font-weight: 700;
        }
        &:hover {
          background: $color_la_palma_approx !important;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: background .3s ease;
          > a {
            color: #FFB71B;
          }
        }
        &.has-sub {
          > a {
            padding-right: 30px;
            &:after {
              position: absolute;
              top: 22px;
              right: 11px;
              width: 8px;
              height: 2px;
              display: block;
              background: $color_alto_approx;
              content: '';
            }
            &:before {
              position: absolute;
              top: 19px;
              right: 14px;
              display: block;
              width: 2px;
              height: 8px;
              background: $color_alto_approx;
              content: '';
              //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
              transition: all .25s ease;
            }
          }
          &:hover > a:before {
            top: 23px;
            height: 0;
          }
          > ul > li.active > a {
            border-top: 1px solid $color_mine_shaft_approx;
          }
        }
      }
      ul > li.has-sub > ul > li.active > a {
        border-top: 1px solid $color_mine_shaft_approx;
      }
    }
    li:hover > ul {
      left: auto;
      > li {
        height: 35px;
      }
    }
  }

  @media screen and(max-width:767px) {
    .logo {
      text-align: center;
      float: none;
    }
    .logo2 {
      display: none;
    }
    nav {
      width: 100%;
    }
    #cssmenu {
      width: 100%;
      ul {
        background: rgba(255, 255, 255, 0.82);
        width: 100%;
        display: none;
		position: absolute;
    	z-index: 3;
        li {
          width: 100%;
          border-top: 1px solid $color_tundora_approx;
          &:hover {
            background: rgba(255, 255, 255, 0.82) !important;
          }
          a {
            width: 100%;
            border-bottom: 0;
          }
        }
        ul {
          position: relative;
          left: 0;
          width: 100%;
          margin: 0;
          text-align: left;
          li {
            height: auto;
            background: rgba(255, 183, 27, 0.15) !important;
            a {
              width: 100%;
              border-bottom: 0;
              padding-left: 25px;
              color: $color_alto_approx;
              background: none;
            }
            &:hover {
              background: rgba(255, 183, 27, 0.15) !important;
              > a {
                color: #FFB71B;
              }
            }
            &.active > a {
              color: #FFB71B;
            }
          }
          ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left;
            li {
              a {
                padding-left: 35px;
              }
              &.active a {
                border-left: none;
              }
            }
          }
          .submenu-button {
            height: 34px;
            width: 34px;
            &:after {
              top: 15px;
              right: 13px;
            }
            &:before {
              top: 12px;
              right: 16px;
            }
          }
          > li.has-sub > a {
            &:after {
              display: none;
            }
            &:before {
              display: none;
            }
          }
        }
      }
      > ul {
        > li {
          float: none;
          &.has-sub {
            > a {
              &:after {
                display: none;
              }
              &:before {
                display: none;
              }
            }
            > ul > li.active > a {
              border-top: none;
            }
          }
        }
        ul > li.has-sub > ul > li.active > a {
          border-top: none;
        }
      }
      #head-mobile {
        display: block;
        /*padding: 74px;*/
        color: $color_alto_approx;
        font-size: 12px;
        font-weight: 700;
      }
      .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid $color_tundora_approx;
        height: 46px;
        width: 46px;
        cursor: pointer;
        &.submenu-opened {
          background: #FFB71B;
          &:after {
            background: $white;
          }
          &:before {
            display: none;
          }
        }
        &:after {
          position: absolute;
          top: 22px;
          right: 19px;
          width: 8px;
          height: 2px;
          display: block;
          background: $color_alto_approx;
          content: '';
        }
        &:before {
          position: absolute;
          top: 19px;
          right: 22px;
          display: block;
          width: 2px;
          height: 8px;
          background: $color_alto_approx;
          content: '';
        }
      }
      li:hover > ul > li {
        height: auto;
      }
    }
    .button {
      width: 55px;
      height: 46px;
      position: absolute;
      right: 10px;
      top: 7px;
      cursor: pointer;
      z-index: 12399994;
      &:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #7A6E66;
        border-bottom: 2px solid #7A6E66;
        content: '';
      }
      &:before {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #7A6E66;
        content: '';
      }
      &.menu-opened {
        &:after {
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all .3s ease;
          top: 23px;
          border: 0;
          height: 2px;
          width: 19px;
          background: #7A6E66;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: rotate(45deg);
        }
        &:before {
          top: 23px;
          background: #7A6E66;
          width: 19px;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: rotate(-45deg);
        }
      }
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}
#masthead{
  @media (max-width: 767px) {
    display: none!important;
  }
}