/*
Theme Name: beans-theme
Theme URI: https://www.getbeans.io/themes/beans/
Author: beans-theme
Author URI: https://www.getbeans.io
Description: The most innovative theme for WordPress. The real magic is under the hood.
Version: 1.5.0-beta
Text Domain: tm-beans
Tags: white, light, one-column, two-columns, three-columns, right-sidebar, left-sidebar, responsive-layout, fluid-layout, fixed-layout, custom-header, custom-background, custom-menu, editor-style, featured-images, microformats, post-formats, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/* The CSS below is added to align to WordPress theme automatic checker.
 * The actual CSS is situated in the style.less file.
 ========================================================================== */
//extra class
@import "./sass/customClass/all";
@import "./sass/navigation/navigation";
@import "./sass/menuMobile";
@import "./sass/menu";
@font-face {
  font-family: 'didot';
  src: url('/wp-content/themes/beans-theme/assets/fonts/DidotLTStd-Italic.otf');
}
@font-face {
  font-family: 'icomoon';
  src:  url('/wp-content/themes/beans-theme/assets/fonts/icomoon.eot?71cvjm');
  src:  url('/wp-content/themes/beans-theme/assets/fonts/icomoon.eot?71cvjm#iefix') format('embedded-opentype'),
  url('/wp-content/themes/beans-theme/assets/fonts/icomoon.ttf?71cvjm') format('truetype'),
  url('/wp-content/themes/beans-theme/assets/fonts/icomoon.woff?71cvjm') format('woff'),
  url('/wp-content/themes/beans-theme/assets/fonts/icomoon.svg?71cvjm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.identit {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.identit:hover{border: none;}
idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path1:before {
  content: "\e90b";
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path2:before {
  content: "\e90c";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path3:before {
  content: "\e90d";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path4:before {
  content: "\e90e";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path5:before {
  content: "\e90f";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path6:before {
  content: "\e910";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path7:before {
  content: "\e911";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path8:before {
  content: "\e912";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path9:before {
  content: "\e913";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path10:before {
  content: "\e914";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path11:before {
  content: "\e915";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path12:before {
  content: "\e916";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path13:before {
  content: "\e917";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path14:before {
  content: "\e918";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path15:before {
  content: "\e919";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path16:before {
  content: "\e91a";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path17:before {
  content: "\e91b";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path18:before {
  content: "\e91c";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path19:before {
  content: "\e91d";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path20:before {
  content: "\e91e";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path21:before {
  content: "\e91f";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path22:before {
  content: "\e920";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path23:before {
  content: "\e921";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path24:before {
  content: "\e922";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path25:before {
  content: "\e923";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path26:before {
  content: "\e924";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path27:before {
  content: "\e925";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path28:before {
  content: "\e926";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path29:before {
  content: "\e927";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path30:before {
  content: "\e928";
  margin-left: -2.7275390625em;
  color: rgb(255, 183, 27);
}
.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path31:before {
  content: "\e929";
  margin-left: -2.7275390625em;
  color: rgb(122, 110, 102);
}
.idnetit-orthodontie:before {
  content: "\e900";
}
.idnetit-email:before {
  content: "\e901";
}
.idnetit-phone:before {
  content: "\e902";
}
.idnetit-map:before {
  content: "\e903";
}
.idnetit-facebook-rs:before {
  content: "\e904";
}
.idnetit-booking:before {
  content: "\e905";
}
.idnetit-Esthetique:before {
  content: "\e906";
}
.idnetit-implantologie:before {
  content: "\e907";
}
.idnetit-d-generale:before {
  content: "\e908";
}
.idnetit-parodontie:before {
  content: "\e909";
}
.idnetit-endodontie:before {
  content: "\e90a";
}
.tabsHome {
  .brz-tabs__nav {
    border-bottom: 1px solid #FFB71B;
    .brz-tabs__nav--button {
      padding-top: 63px;
    }
    .brz-tabs__nav--active .brz-text__editor {
      color: #FFB71B;
    }
    li:nth-child(1) > .brz-tabs__nav--button {
      background: url('/wp-content/themes/beans-theme/assets/images/tab1.jpg') no-repeat center top;

    }
    li:nth-child(2) > .brz-tabs__nav--button {
      background: url('/wp-content/themes/beans-theme/assets/images/tab2.jpg') no-repeat center top;

    }
    li:nth-child(3) > .brz-tabs__nav--button {
      background: url('/wp-content/themes/beans-theme/assets/images/tab3.jpg') no-repeat center top;

    }
    li:nth-child(4) > .brz-tabs__nav--button {
      background: url('/wp-content/themes/beans-theme/assets/images/tab4.jpg') no-repeat center top;

    }
    li:nth-child(5) > .brz-tabs__nav--button {
      background: url('/wp-content/themes/beans-theme/assets/images/tab5.jpg') no-repeat center top;

    }
    li:nth-child(6) > .brz-tabs__nav--button {
      background: url('/wp-content/themes/beans-theme/assets/images/tab6.jpg') no-repeat center top;

    }
  }
}

.bgLeif {

  background: url('/wp-content/themes/beans-theme/assets/images/bgleif.jpg') no-repeat center top;
  background-size: 1294px;
  background-position: calc(50vw - 594px) 0px;
}

//hack

.brz .css-lfbrd7 .brz-section__content, .brz [data-css-lfbrd7] .brz-section__content {
  min-height: initial !important;
}

.brz .brz-section__content > .brz-bg {
  height: initial !important;
}

.weightBlack {
  font-weight: 900;
}

.vc_btn3-container[class*="linkAdded_"] {
  display: none !important;
}


.grayBg40 {
  background-color: rgba(122, 110, 102, 0.4);
}

.faqServices {
  .faq {
    width: calc(100% - 20px);
    left: 0px;
  }
}

.paddingInner {
  &.ptop60 {
    .vc_column-inner {
      padding-top: 60px !important;
    }
  }
  &.custom30x20 {
    > .vc_column-inner {
      padding: 30px 20px !important;
    }
  }
  &.customPaddingIcon {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.phoneIcon {
  margin-right: 15px;
  display: inline-block;
  width: 20px;
  height: 32px;
  i {
    display: none;
  }
  background: url(/wp-content/themes/beans-theme/assets/images/phone.png) no-repeat;
  background-size: contain;
}

.mailIcon {
  margin-right: 15px;
  display: inline-block;
  width: 23px;
  height: 19px;
  i {
    display: none;
  }
  background: url(/wp-content/themes/beans-theme/assets/images/mail.png) no-repeat;
  background-size: contain;
}

.font28 {
  font-size: 28px;
}

.sideblockbtn {
  display: none;
}

.sideblocks {
  form {
    margin-bottom: 0px;
  }
  .contactform {
    &.padding48yt {
      padding-top: 0px;
    }
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {
      background-color: #fff;
    }
    input[type="submit"] {
      margin: 0 auto;
      display: block;
    }
    .vc_col-sm-6 {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0
    }
    span.wpcf7-list-item {
      margin: 0;
    }
    span.wpcf7-list-item.last {
      margin-left: 35px;
    }
    .wpcf7-radio {
      margin: 20px 0;
      display: inline-block;
    }
    .ajax-loader {
      margin-top: -33px;
    }
    .wpcf7-form-control-wrap.radio {
      display: none;
    }
    > p.lato.font18.brown.regular {
      display: none;
    }
    .wpcf7-form-control.wpcf7-submit {
      display: none;
    }
    .sideblockbtn {
      display: block !important;
      margin-top: 25px !important;
    }
  }
}

.sideblocksRightSide {
  .btnTheme > .vc_btn3 {
    height: 33px;
    padding: 0px 23px;
    line-height: 33px;
    width: 296px;
  }
}

.margin {
  &.mleft8 {
    margin-left: 8px;
  }
  &.mright8 {
    margin-right: 8px;
  }
  &.mtop13 {
    margin-top: 13px;
  }
  &.mbottom0 {
    margin-bottom: 0;
  }
  &.mbottom13 {
    margin-bottom: 13px;
  }
}

.marginInner {
  &.mleft8 {
    > .vc_column-inner {
      margin-left: 8px;
    }
  }
  &.mright8 {
    > .vc_column-inner {
      margin-right: 8px;
    }
  }
}

.containerPos {
  position: relative;
  .moveAbsolute {
    position: absolute;
    &.bottom50 {
      bottom: 50px;
    }
    &.bottom22 {
      bottom: 22px;
    }
  }
}

.minHeight {

  &.m580 {
    min-height: 580px;
    .vc_column-inner {
      min-height: 580px;
    }
  }
  &.m428 {
    min-height: 428px;
    .vc_column-inner {
      min-height: 428px;
    }
  }
  &.m270 {
    min-height: 270px;
  }
  &.m330 {
    min-height: 330px;
    .vc_column-inner {
      min-height: 330px;
    }
  }
  &.m350 {
    min-height: 350px;
  }
  &.mvw474{
    min-height: calc(474vw / 13.66);
  }
}

.centerCol {
  .vc_column-inner {
    display: flex;
    justify-content: center;
  }
}

.btnTheme {
  .vc_general {
    font-size: 14px !important;
    font-family: Lato;
    color: #fff !important;
    background-color: #FFB71B !important;
    border: none !important;
    background-image: none !important;
    text-transform: uppercase;
  }
  &.gray {
    .vc_general {
      background-color: #7A6E66 !important;
    }
  }
}

em {
  color: initial;
}

.didot {
  font-family: "didot";
}

.heebo {
  font-family: "Lato";
}

.italic {
  font-style: italic;
}

.font26 {
  font-size: 26px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.containerwp {
  &.w100 {
    padding-left: 100px;
    padding-right: 100px;
  }
  &.w140 {
    padding-left: 140px;
    padding-right: 140px;
  }
  &.w190 {
    padding-left: 190px;
    padding-right: 190px;
  }
  &.w210 {
    padding-left: 210px;
    padding-right: 210px;
  }
  &.w230 {
    padding-left: 230px;
    padding-right: 230px;
  }
  &.w280 {
    padding-left: 280px;
    padding-right: 280px;
  }
  @media (max-width: 768px) {

    &.w100, &.w140, &.w190, &.w210, &.w230, &.w280, &.w580, &.W830 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media (max-width: 425px) {

    &.w100, &.w140, &.w190, &.w210, &.w230, &.w280, &.W830, &.w580 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &.maxW560 {
    max-width: 560px;
    margin: 0 auto !important;
  }
}

.containerW830 {
  max-width: 830px;
  margin: 0 auto !important;
}

.colorWhite {
  color: #fff !important;
  em {
    color: #fff !important;
  }
}

.footerwp {
  padding: 60px 235px 0px 140px !important;
  @media (max-width: 768px) {

    padding: 60px 30px 10px !important;
  }
  @media (max-width: 425px) {

    padding: 60px 15px 10px !important;
  }
  min-height: 360px;
  background: url(/wp-content/uploads/brizy/139/assets/images/165d337efa933d9ea96ef057c6756e8a170f9b6d.jpeg) no-repeat;
  background-size: cover;
  .socialIcon {
    .fa {
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 4px;
      line-height: 25px;
      margin: 0px 3.5px;
      font-size: 17px;
      strong {
        display: none;
      }
    }
    a {
      text-align: center;
      color: #000;
      &:hover {
        color: #ffb71b;
      }
    }
  }
  .menuFooter {
    .menu {
      padding-left: 0px;
      margin: 0px;
      list-style: none;
      > li {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        &:after {
          position: absolute;
          content: "|";
          right: 7px;
          top: 0;
          font-size: 14px;
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
        a {
          text-transform: uppercase;
          font-size: 14px;
          font-family: "Lato";
          color: #000;
        }
        ul {
          display: none;
        }
      }
    }
  }
}

.footerCopyright {
  background-color: #7a6e66;
}

.leifComp {
  position: relative;
  border: 1px solid #707070;
  min-height: 290px;
  margin: 0px 140px!important;
  padding-left: 0px;
  padding-right: 0px;
  &:after{
    position: absolute;
    background: url(/wp-content/themes/beans-theme/assets/images/leif.png) no-repeat;
    width: 864px;
    height: 415px;
    right: -127px;
  }
  margin-bottom: 54px!important;
}

.servicesMenu {
  padding-bottom: 30px;
  div.menu-services-container > ul, div.menu-services-en-container > ul{
    padding-left: 0px;
    margin: 0px;
    > li {
      list-style: none;
      border-bottom: 1px solid rgba(112, 112, 112, 0.3);
      a {

        padding-left: 20px;
        font-family: "Lato";
        font-size: 16px;
        color: #000;
        line-height: 30px;
      }

    }
    > li {
      ul{
        display: none;

      }
    }
    > li.current-menu-parent, > li.current-menu-item {
      > a {
        color: #fff;
        line-height: 30px;
        background-color: #7A6E66;
        display: block;
      }
      ul {
        padding-left: 0px;
        a {
          color: #000;
        }
        display: block;
        background-color: rgba(122, 110, 102, 0.06);
        li {
          list-style: none;
          padding-left: 20px;
          width:100%;
          display: inline-flex;
          border-bottom: 1px solid rgb(255, 255, 255);
          &:last-child {
            border-bottom: none;
          }
        }
        li.current_page_item {
          background-color: rgba(122, 110, 102, 0.2);
        }
      }
    }
  }
}
.content-service p.lato{
    line-height: 1.5;
}

a[class*="linkAdded_"] {
  p {
    color: #000 !important;

  }
  &:hover {
    text-decoration: none !important;
  }
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.82);
  padding: 30px 0 0 0;
}
.site-branding img{
    max-height: 65px;
}