/*
Theme Name: beans-theme
Theme URI: https://www.getbeans.io/themes/beans/
Author: beans-theme
Author URI: https://www.getbeans.io
Description: The most innovative theme for WordPress. The real magic is under the hood.
Version: 1.5.0-beta
Text Domain: tm-beans
Tags: white, light, one-column, two-columns, three-columns, right-sidebar, left-sidebar, responsive-layout, fluid-layout, fixed-layout, custom-header, custom-background, custom-menu, editor-style, featured-images, microformats, post-formats, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/* The CSS below is added to align to WordPress theme automatic checker.
 * The actual CSS is situated in the style.less file.
 ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
.font50 {
  font-size: 50px; }
  @media (max-width: 768px) {
    .font50 {
      font-size: 30px; } }

.font45 {
  font-size: 45px; }

.font40 {
  font-size: 40px;
  line-height: 1.2; }

.font36 {
  font-size: 36px;
  line-height: 1.2; }

.font33 {
  font-size: 33px;
  line-height: 1.2; }

.font30 {
  font-size: 30px; }

.font24 {
  font-size: 24px; }
  @media (max-width: 1366px) {
    .font24 {
      font-size: 24px; } }

.font25 {
  font-size: 25px; }

.font20 {
  font-size: 20px; }

.font22 {
  font-size: 22px; }

.font18, body, .articlePage .entry-header .author {
  font-size: 18px; }

.font17 {
  font-size: 16.3px; }

.font16, .site-footer .widget_nav_menu ul a {
  font-size: 16px; }

.font15 {
  font-size: 15px; }

.font14 {
  font-size: 14px; }

.font50 {
  line-height: 1; }

@media (min-width: 767px) {
  .site-content {
    padding-left: 310px; } }

.entry-content {
  margin: 0px; }

.vc_row {
  margin: 0px !important; }
  .vc_row *:not(.important) > .vc_column-inner {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }
    .vc_row *:not(.important) > .vc_column-inner > .wpb_wrapper {
      height: auto; }
  .vc_row .important > .vc_column-inner > .wpb_wrapper {
    height: initial; }
  .vc_row .overRidePadding > .vc_column-inner {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .vc_row .grayBG {
    background: #343e47; }
  .vc_row .wpb_content_element {
    margin-bottom: 0px !important; }
  @media (max-width: 767px) {
    .vc_row .wpb_text_column {
      padding-bottom: 18px; } }
  .vc_row .flexInner {
    height: inherit; }
    .vc_row .flexInner .vc_column-inner {
      display: flex;
      height: inherit; }
      .vc_row .flexInner .vc_column-inner .wpb_wrapper {
        height: initial; }
    .vc_row .flexInner.centerY .vc_column-inner {
      justify-content: center; }
    .vc_row .flexInner.centerX .vc_column-inner {
      align-items: center; }

.hentry {
  margin: 0px; }

p {
  margin-top: 0px;
  margin-bottom: 0.7em; }

html {
  color: #000000; }

body {
  font-family: lato;
  font-weight: 400; }

.form {
  padding: 34px; }

input, select {
  margin-bottom: 18px !important;
  height: 60px;
  padding: 17px !important; }

h1 {
  font-family: Lato, sans-serif !important;
  color: #000 !important;
  font-weight: 300 !important;
  margin: 0 !important; }

input::placeholder, textarea::placeholder {
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  color: #000; }

.colorTheme {
  color: #FFB71B; }

.brown {
  color: #7A6E66; }

.textbgeff9fa {
  background-color: #eff9fa; }

.light {
  font-weight: 300; }

.textJustify {
  text-align: justify; }

.regular {
  font-weight: 400; }

.semi-bold {
  font-weight: 600; }

.upperCase {
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

.white {
  color: #fff; }
  .white:visited, .white:hover {
    color: #fff; }
  .white em {
    color: #fff; }

.black {
  color: #000 !important; }

.flexEnd {
  justify-content: flex-end; }

.lato {
  font-family: 'Lato', sans-serif; }

.underline {
  text-decoration: underline; }

.line-height1p7 {
  line-height: 1.7; }

.number li {
  list-style: decimal;
  list-style-position: outside;
  line-height: 1.5;
  padding-left: 5px; }

/*****************************/
.padding15xr {
  padding-right: 15px !important; }
  @media (max-width: 767px) {
    .padding15xr {
      padding-right: 0px !important;
      padding-bottom: 20px; } }

.padding15xl {
  padding-left: 15px !important; }
  @media (max-width: 767px) {
    .padding15xl {
      padding-left: 0px !important;
      padding-bottom: 20px; } }

.padding15y {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding20yt {
  padding-top: 20px; }

.margin20yb {
  margin-bottom: 20px; }

.padding25xr {
  padding-right: 25px !important; }
  @media (max-width: 767px) {
    .padding25xr {
      padding-right: 0px !important;
      padding-bottom: 20px; } }

.padding25yb {
  padding-bottom: 25px; }

.padding40xr {
  padding-right: 40px !important; }
  @media (max-width: 767px) {
    .padding40xr {
      padding-right: 0px !important;
      padding-bottom: 20px; } }

.padding150x {
  padding-right: 200px !important;
  padding-left: 200px !important; }
  @media (max-width: 767px) {
    .padding150x {
      padding-right: 0px !important;
      padding-left: 0px !important;
      padding-bottom: 20px; } }

.margin30yt {
  padding-top: 30px; }

.padding30yt {
  padding-top: 30px; }

.padding48yt {
  padding-top: 48px; }

.padding48yb {
  padding-bottom: 48px; }

.padding60yt {
  padding-top: 60px; }

.padding60yb {
  padding-bottom: 60px; }

.padding100yt {
  padding-top: 100px; }

.padding100yb {
  padding-bottom: 100px; }

.padding105x {
  padding-left: 105px;
  padding-right: 105px; }
  @media (max-width: 767px) {
    .padding105x {
      padding-left: 20px;
      padding-right: 20px; } }

.padding108xr {
  padding-right: 108px !important; }
  @media (max-width: 767px) {
    .padding108xr {
      padding-left: 55px;
      padding-right: 55px !important;
      text-align: center; } }

.padding138x {
  padding-left: 138px;
  padding-right: 138px; }
  @media (max-width: 767px) {
    .padding138x {
      padding-left: 20px;
      padding-right: 20px; } }

.padding138xl {
  padding-left: 138px; }
  @media (max-width: 767px) {
    .padding138xl {
      padding-left: 20px; } }

.padding148x {
  padding-left: 145px;
  padding-right: 145px; }
  @media (max-width: 767px) {
    .padding148x {
      padding-left: 20px;
      padding-right: 20px; } }

.padding153x {
  padding-left: 153px;
  padding-right: 153px; }
  @media (max-width: 767px) {
    .padding153x {
      padding-left: 20px;
      padding-right: 20px; } }

.padding165xr {
  padding-right: 165px; }
  @media (max-width: 767px) {
    .padding165xr {
      padding-right: 20px; } }

.padding175xl {
  padding-left: 176px !important; }
  @media (max-width: 767px) {
    .padding175xl {
      padding-left: 55px !important;
      padding-right: 55px;
      text-align: center; } }

.padding222xr {
  padding-right: 222px !important; }
  @media (max-width: 767px) {
    .padding222xr {
      padding-left: 55px;
      padding-right: 55px !important;
      text-align: center; } }

.padding230x {
  padding-left: 230px;
  padding-right: 230px; }
  @media (max-width: 767px) {
    .padding230x {
      padding-left: 20px;
      padding-right: 20px; } }

.padding215x {
  padding-left: 215px;
  padding-right: 215px; }
  @media (max-width: 767px) {
    .padding215x {
      padding-left: 20px;
      padding-right: 20px; } }

/*****************************/
.min-height350 {
  min-height: 350px !important; }

.min-height300 {
  min-height: 300px !important; }

.min-height250 {
  min-height: 250px !important; }

.padding130x {
  padding-left: 130px;
  padding-right: 130px; }

.padding20y {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding20 {
  padding: 20px !important; }
  @media (max-width: 1366px) {
    .padding20 {
      padding: 20px !important; } }

.padding130xl {
  padding-left: 130px !important; }

.padding130xr {
  padding-right: 130px !important; }

.padding110xr {
  padding-right: 110px !important; }

.margin50xr .vc_column-inner {
  margin-right: 50px !important; }
  @media (max-width: 767px) {
    .margin50xr .vc_column-inner {
      margin-right: 0px !important;
      margin-bottom: 20px; } }

.padding45yt {
  padding-top: 45px; }

.padding45yb {
  padding-bottom: 45px; }

.line-height28 {
  line-height: 28px; }
  @media (max-width: 1366px) {
    .line-height28 {
      line-height: 28px; } }

.padding40xl {
  padding-left: 40px !important; }

.padding40xr {
  padding-right: 40px !important; }

.margin10x .vc_column-inner {
  margin-left: 10px;
  margin-right: 10px; }
  @media (max-width: 767px) {
    .margin10x .vc_column-inner {
      margin-left: 0px;
      margin-right: 0px; } }

.margin10xr .vc_column-inner {
  margin-right: 10px; }
  @media (max-width: 767px) {
    .margin10xr .vc_column-inner {
      margin-right: 0px; } }

.margin10xl .vc_column-inner {
  margin-left: 10px; }
  @media (max-width: 767px) {
    .margin10xl .vc_column-inner {
      margin-left: 0px; } }

.margin50xr .vc_column-inner {
  margin-right: 50px; }
  @media (max-width: 767px) {
    .margin50xr .vc_column-inner {
      margin-right: 0px; } }

.margin90xr .vc_column-inner {
  margin-right: 90px; }
  @media (max-width: 767px) {
    .margin90xr .vc_column-inner {
      margin-right: 0px; } }

.margin20y {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

@media (max-width: 767px) {
  .padding20ytm {
    padding-top: 20px; } }

.padding20xr {
  padding-right: 20px; }
  @media (max-width: 767px) {
    .padding20xr {
      padding-right: 0px; } }

.noMargin.top {
  margin-top: 0px; }
.noMargin.bottom {
  margin-bottom: 0px; }
.noMargin.left {
  margin-left: 0px; }
.noMargin.right {
  margin-right: 0px; }

@media (max-width: 767px) {
  .noPaddingMobile {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 10px !important; }
    .noPaddingMobile.top {
      padding-top: 0px; } }

@media (max-width: 767px) {
  .noPaddingTopMobile {
    padding-top: 0 !important; } }

@media (max-width: 767px) {
  .mobileCenter {
    text-align: center !important; } }
.mobileCenter .wpb_single_image.vc_align_left {
  text-align: center; }

@media (max-width: 767px) {
  .reverseCol {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 18px;
    padding-bottom: 18px; } }

@media (max-width: 767px) {
  .forceTextLeftMobile p {
    text-align: left !important; } }

@media (max-width: 767px) {
  .nomobile {
    display: none; } }
@media (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    padding: 0 20px; }

  .padding20xm {
    padding: 0 20px !important; } }
.comment-notes {
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
  color: #000;
  font-weight: 400; }

.comment-reply-title {
  font-family: 'Lato', sans-serif !important;
  font-size: 30px !important;
  color: #000;
  font-weight: 300; }

.comment-form-comment #comment {
  width: 100%;
  padding: calc(17px / 1366 * 1080); }

.comment-form-author {
  width: 48%;
  float: left; }
  .comment-form-author input {
    width: 100%; }

.comment-form-email {
  width: 48%;
  float: right; }
  .comment-form-email input {
    width: 100%; }

.vc_toggle_content, .vc_toggle_content p.lato {
  margin-bottom: 0 !important; }

.page-child .vc_toggle {
  margin-bottom: 16px; }

.btn-theme {
  padding: 11px 30px !important;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #FFB71B;
  text-align: center;
  border: none;
  text-transform: uppercase; }
  .btn-theme:focus {
    color: #fff; }
  .btn-theme.dark {
    background: #7A6E66;
    color: #fff;
    min-width: 160px; }
  @media (max-width: 1366px) {
    .btn-theme {
      padding: 9px 25px;
      font-size: 18px; }
      .btn-theme.dark {
        min-width: 160px; } }
  .btn-theme.circle {
    min-width: initial;
    position: relative;
    border-radius: 100%;
    height: 47px;
    display: flex;
    width: 47px;
    align-items: center;
    padding-left: 14px; }
    @media (max-width: 1366px) {
      .btn-theme.circle {
        padding-left: 18px; } }
    .btn-theme.circle .out {
      position: absolute;
      top: 10px;
      width: 210px;
      text-align: left;
      padding-left: 45px; }

a.btn-theme {
  display: inline-block; }
  a.btn-theme:visited {
    color: #fff; }

.displayFlex > * > .wpb_wrapper {
  display: flex; }
.displayFlex.centery > * > .wpb_wrapper {
  align-items: center; }

.flexText.center {
  height: 100%;
  display: flex;
  align-items: center; }

.Pabsolute {
  position: absolute !important; }
  .Pabsolute.bottom {
    bottom: 0; }

.site-footer {
  background: #5fc7d1;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .site-footer > .vc_row {
    width: 100%; }
  .site-footer .widget_nav_menu div > ul > li > ul {
    display: none; }
  .site-footer .widget_nav_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .site-footer .widget_nav_menu ul a {
      text-decoration: none;
      color: #fff; }
    .site-footer .widget_nav_menu ul > li {
      width: 45%;
      display: inline-block; }
  .site-footer .partenaires {
    height: 90px; }
    .site-footer .partenaires *:not(.vc_figure).wpb_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  .site-footer .iconLinks .wpb_wrapper {
    display: flex;
    align-items: center;
    justify-content: left; }
  @media (max-width: 767px) {
    .site-footer {
      padding-top: 30px;
      height: auto; }
      .site-footer .font16, .site-footer .widget_nav_menu ul a {
        font-size: 14px; }
      .site-footer .vc_separator {
        margin-bottom: 5px; }
      .site-footer .widget_nav_menu ul > li:nth-child(even) a {
        padding-left: 22px; }
      .site-footer .wpb_text_column {
        padding-bottom: 5px; }
      .site-footer br {
        display: none; }
      .site-footer .partenaires {
        height: auto; }
        .site-footer .partenaires *:not(.vc_figure).wpb_wrapper {
          flex-direction: column;
          align-items: left; }
        .site-footer .partenaires .wpb_single_image {
          padding-top: 10px;
          padding-bottom: 10px; }
      .site-footer .iconLinks .wpb_wrapper {
        display: flex;
        align-items: center;
        justify-content: center; } }

.carousel-slider {
  height: 874px; }
  .carousel-slider .btn-Slider {
    background: url("/wp-content/themes/skull-rive/assets/arrow.png") no-repeat;
    width: 24px;
    height: 12px;
    cursor: pointer;
    display: block; }
    .carousel-slider .btn-Slider.left {
      transform: rotate(90deg); }
    .carousel-slider .btn-Slider.right {
      transform: rotate(-90deg);
      margin-left: 35px; }
  .carousel-slider .btns {
    margin-left: 130px;
    margin-bottom: 40px;
    display: flex; }
    @media (max-width: 767px) {
      .carousel-slider .btns {
        float: right;
        margin-right: 130px; } }
  .carousel-slider .contentSlider {
    position: absolute;
    top: 500px;
    left: 130px;
    width: 60%;
    line-height: 1.3; }

.blueBg {
  background: #5fc7d1; }

.middleCover {
  height: 745px; }
  @media (max-width: 767px) {
    .middleCover {
      height: calc(548vw / 429 * 100); }
      .middleCover .vc_parallax-inner {
        height: 70% !important; }
      .middleCover .padding50y {
        padding-top: 20px;
        padding-bottom: 20px; } }

.windowHomepage {
  margin-top: -140px; }
  .windowHomepage .title {
    height: 80px;
    padding-top: 8px; }
  @media (max-width: 1366px) {
    .windowHomepage {
      margin-top: -140px; }
      .windowHomepage .title {
        padding-top: 6px;
        height: 80px; } }
  @media (max-width: 767px) {
    .windowHomepage {
    /*margin-top: calc(-60px / 1366 * 1366);

    margin-left: calc(-130vw / 17.51);
    margin-right: calc(-130vw / 17.51);
    margin-bottom: 18px;*/
      margin: 0;
      width: initial !important; }
      .windowHomepage .title {
        height: 90px; } }

.widgetMailchimp {
  height: 300px !important;
  background: #343e47; }
  .widgetMailchimp .mc4wp-form-fields {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .widgetMailchimp .mc4wp-form-fields input[type="submit"] {
      background: url(/wp-content/themes/skull-rive/assets/checkbox.png);
      background-color: #5fc7d1;
      background-repeat: no-repeat;
      background-position: center;
      width: 90px;
      border-radius: 0px 3px 3px 0px; }
    .widgetMailchimp .mc4wp-form-fields input[type="email"] {
      border-radius: 3px 0px 0px 3px; }
  @media (max-width: 767px) {
    .widgetMailchimp {
      height: 300px !important; }
      .widgetMailchimp .mc4wp-form-fields input[type="submit"] {
        width: 90px; } }

.homepageGrid .vc_grid .vc_clearfix > p {
  display: none; }
@media (min-width: 768px) {
  .homepageGrid .vc_grid .vc_clearfix .vc_col-sm-4 {
    width: 32.333333%; } }
.homepageGrid .vc_grid .vc_clearfix .vc_grid-item-mini .vc_gitem-animated-block .vc_gitem-zone {
  height: 260px; }
  @media (max-width: 767px) {
    .homepageGrid .vc_grid .vc_clearfix .vc_grid-item-mini .vc_gitem-animated-block .vc_gitem-zone {
      height: 260px; } }
.homepageGrid .datepost {
  margin-left: calc(-17vw / 19.20);
  margin-top: calc(-102vw / 19.20);
  width: 60px;
  height: 70px;
  background: #5fc7d1;
  color: #fff; }
  .homepageGrid .datepost .day {
    text-align: center;
    font-size: 30px; }
  .homepageGrid .datepost .month {
    text-align: center;
    font-size: 15px; }
  @media (max-width: 767px) {
    .homepageGrid .datepost {
      margin-left: -10px;
      margin-top: -102px;
      width: 60px;
      height: 70px; }
      .homepageGrid .datepost .day {
        font-size: 30px; }
      .homepageGrid .datepost .month {
        font-size: 15px; } }
.homepageGrid .oneb .datepost {
  margin-top: calc(185vw / 19.20) !important; }
.homepageGrid .oneb h4 {
  margin-top: 0 !important; }
.homepageGrid .vc_gitem-zone {
  overflow: initial; }

@media (max-width: 767px) {
  .padding130x.row.innerTop0.padding60y {
    display: flex;
    flex-direction: column-reverse; }
    .padding130x.row.innerTop0.padding60y .font25 {
      margin-top: 0px; } }

.faq .vc_toggle_title .vc_toggle_icon {
  right: 0;
  left: initial !important; }
  .faq .vc_toggle_title .vc_toggle_icon:before, .faq .vc_toggle_title .vc_toggle_icon:after {
    background-color: #5fc7d1; }
.faq.faqPage .vc_toggle_title .vc_toggle_icon {
  position: absolute;
  top: 7px; }
  .faq.faqPage .vc_toggle_title .vc_toggle_icon:after {
    visibility: hidden !important; }
  .faq.faqPage .vc_toggle_title .vc_toggle_icon:before {
    visibility: visible !important;
    transition: all .3s;
    transform: rotate(-45deg); }
.faq.faqPage.vc_toggle_active .vc_toggle_icon:before {
  transform: rotate(45deg); }

.servicesPadding > .wpb_column {
  padding: 0px 10px; }

.servicex .font20 {
  min-height: 48px; }
.servicex.link {
  padding-top: 20px; }
.servicex .vc_single_image-wrapper {
  position: relative; }
  .servicex .vc_single_image-wrapper:after {
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    content: " "; }
.servicex.icon1 .vc_single_image-wrapper:after {
  background-image: url(/wp-content/themes/skull-rive/assets/service1icon.png); }
.servicex.icon2 .vc_single_image-wrapper:after {
  background-image: url(/wp-content/themes/skull-rive/assets/service2icon.png); }
.servicex.icon3 .vc_single_image-wrapper:after {
  background-image: url(/wp-content/themes/skull-rive/assets/service3icon.png); }
.servicex.icondupont .vc_single_image-wrapper:after {
  background-image: url(/wp-content/uploads/2018/05/Entreprise-Partenaire-DupontGignac-2.png);
  background-size: contain; }
.servicex.iconMarieJosee .vc_single_image-wrapper:after {
  background-image: url(/wp-content/uploads/2018/05/Entreprise-Partenaire-MarieJosee-Paul-2.png);
  background-size: contain; }
.servicex.wpb_text_column {
  width: 100%;
  max-width: 371px;
  background: #eff9fa;
  padding: 20px;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .servicex.wpb_text_column {
      width: 100%;
      padding-top: 18px;
      padding-bottom: 18px; }
      .servicex.wpb_text_column .font20 {
        font-size: 18px;
        font-weight: bold; } }
.servicex.link {
  text-decoration: none;
  color: #5fc7d1; }

.serviceEntreprise {
  width: 100%;
  max-width: 371px;
  /*padding: widthCalc(20);*/
  margin-top: 20px;
  min-height: calc(380vw / 17.51); }
  @media (max-width: 767px) {
    .serviceEntreprise {
      width: 100%;
      padding-top: 18px;
      padding-bottom: 18px; }
      .serviceEntreprise .font20 {
        font-size: 18px;
        font-weight: bold; } }

.serviceEntreprise1 {
  width: 100%;
  max-width: 371px;
  /*padding: widthCalc(20);*/
    /*margin-top: widthCalc(20);
	min-height: calc(380vw / 17.51);*/ }
  @media (max-width: 767px) {
    .serviceEntreprise1 {
      width: 100%; }
      .serviceEntreprise1 .font20 {
        font-size: 18px;
        font-weight: bold; } }

#masthead .site-branding {
  padding: 20px 0px 20px;
  text-align: center; }
  #masthead .site-branding > a {
    display: flex;
    justify-content: center; }
#masthead #sideMenu > ul > li > a {
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Open Sans";
  font-weight: normal; }
#masthead .main-navigation
#primary-menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-left: 0; }
  #masthead .main-navigation
  #primary-menu > li {
    padding: 0px calc(11vw/13) 10px; }
    #masthead .main-navigation
    #primary-menu > li a {
      font-size: 14px;
      text-transform: uppercase;
      color: #000;
      text-align: left; }
      #masthead .main-navigation
      #primary-menu > li a:hover, #masthead .main-navigation
      #primary-menu > li a:focus, #masthead .main-navigation
      #primary-menu > li a:active {
        color: #FFB71B;
        text-decoration: none; }
#masthead .current_page_item a {
  font-weight: 600; }
#masthead #sideMenu {
  width: initial; }
  #masthead #sideMenu a {
    text-transform: uppercase;
    padding: 13px 20px 13px 40px; }
  #masthead #sideMenu .menu-item-has-children {
    position: relative; }
    #masthead #sideMenu .menu-item-has-children .arrow {
      position: absolute;
      height: calc(65vw / 17.51);
      top: -4px;
      right: 0;
      width: calc(45vw / 17.51);
      cursor: pointer; }
    #masthead #sideMenu .menu-item-has-children > .arrow:before {
      background: url("/wp-content/themes/skull-rive/assets/arrow.png");
      content: " ";
      padding-left: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 12px;
      position: absolute;
      right: 11px;
      top: 23px;
      transform: rotate(-90deg);
      transition: .3s all; }
    #masthead #sideMenu .menu-item-has-children.active > .arrow:before {
      transform: rotate(0deg); }

.faq .vc_toggle_title {
  padding-right: 20px; }

.articlePage .singleImgArticle {
  padding-bottom: 27px; }
.articlePage p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #000;
  line-height: 1.4; }
.articlePage .entry-header {
  display: flex; }
  .articlePage .entry-header h1, .articlePage .entry-header h2 {
    margin-top: 0px;
    line-height: 1.2;
    margin-bottom: 0px; }
.articlePage .post .entry-meta {
  width: 100%;
  float: left;
  margin-bottom: 12px;
  display: flex; }
.articlePage .shareSocial {
  display: flex;
  width: max-content;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px; }
  .articlePage .shareSocial .links .fa {
    color: #5fc7d1;
    font-size: 26px;
    padding: 0px 8px; }
    .articlePage .shareSocial .links .fa:first-child {
      padding-left: 16px; }
.articlePage .stats {
  padding-top: 14px; }
  .articlePage .stats span {
    padding-left: 5px;
    padding-right: 17px; }
.articlePage .comment-form .btn-theme {
  width: auto;
  cursor: pointer; }

.contact {
  padding-right: 20px; }
  .contact input, .contact select {
    border: 1px solid #343e47 !important;
    background: #fff;
    color: #343e47 !important; }

#tracking {
  list-style: none;
  display: inline; }
  #tracking li {
    float: left;
    margin: 5px 2px; }

.posfixb {
  position: absolute;
  bottom: 1vw; }

@media (max-width: 767px) {
  .contentSlider {
    display: none; }

  .servicex {
    margin-top: 20px !important; }

  .servicex.link {
    position: relative; }

  .mobilepadd {
    margin-left: 50px;
    margin-right: 50px; } }
@media (max-width: 1439px) {
  .carousel .carousel-item > img {
    height: auto; } }
.gr {
  color: #404040;
  text-decoration: none; }
  .gr:visited {
    color: #404040; }

.ctur a {
  color: #5fc7d1;
  text-decoration: none; }
  .ctur a:visited {
    color: #5fc7d1; }

.sideblocks .contactform input[type="text"], .sideblocks .contactform input[type="email"], .sideblocks .contactform input[type="url"], .sideblocks .contactform input[type="password"], .sideblocks .contactform input[type="search"], .sideblocks .contactform input[type="number"], .sideblocks .contactform input[type="tel"], .sideblocks .contactform input[type="range"], .sideblocks .contactform input[type="date"], .sideblocks .contactform input[type="month"], .sideblocks .contactform input[type="week"], .sideblocks .contactform input[type="time"], .sideblocks .contactform input[type="datetime"], .sideblocks .contactform input[type="datetime-local"], .sideblocks .contactform input[type="color"], .sideblocks .contactform textarea, .sideblocks .contactform select {
  border: none; }

.contactform input[type="text"], .contactform input[type="email"], .contactform input[type="url"], .contactform input[type="password"], .contactform input[type="search"], .contactform input[type="number"], .contactform input[type="tel"], .contactform input[type="range"], .contactform input[type="date"], .contactform input[type="month"], .contactform input[type="week"], .contactform input[type="time"], .contactform input[type="datetime"], .contactform input[type="datetime-local"], .contactform input[type="color"], .contactform textarea, .contactform select {
  padding: calc(17px / 1366 * 1366) calc(45px / 1366 * 1366) !important;
  width: 100%;
  color: #7A6E66;
  border: 1px solid #7A6E66; }
  .contactform input[type="text"] ::placeholder, .contactform input[type="email"] ::placeholder, .contactform input[type="url"] ::placeholder, .contactform input[type="password"] ::placeholder, .contactform input[type="search"] ::placeholder, .contactform input[type="number"] ::placeholder, .contactform input[type="tel"] ::placeholder, .contactform input[type="range"] ::placeholder, .contactform input[type="date"] ::placeholder, .contactform input[type="month"] ::placeholder, .contactform input[type="week"] ::placeholder, .contactform input[type="time"] ::placeholder, .contactform input[type="datetime"] ::placeholder, .contactform input[type="datetime-local"] ::placeholder, .contactform input[type="color"] ::placeholder, .contactform textarea ::placeholder, .contactform select ::placeholder {
    color: #7A6E66 !important; }
.contactform .rnom {
  background: url(/wp-content/uploads/2018/07/Groupe-353.png) no-repeat 13px; }
.contactform .rtel {
  background: url(/wp-content/uploads/2018/07/Groupe-356.png) no-repeat 13px; }
.contactform .remail {
  background: url(/wp-content/uploads/2018/07/enveloppe.png) no-repeat 13px; }
.contactform .rdate {
  background: url(/wp-content/uploads/2018/07/Groupe-354.png) no-repeat 13px; }
.contactform .rheure {
  background: url(/wp-content/uploads/2018/07/Groupe-355.png) no-repeat 13px; }
.contactform input::placeholder {
  color: #7A6E66; }
.contactform input[type="submit"] {
  width: auto;
  height: auto;
  padding: calc(8px / 1366 * 1366) calc(65px / 1366 * 1366) !important;
  font-weight: 400;
  cursor: pointer; }
.contactform input[type="radio"] {
  width: 20px;
  height: 20px;
  background: none;
  position: relative;
  top: 3px; }
.contactform .wpcf7-list-item-label {
  padding-bottom: 5px; }
.contactform .vc_col-sm-6 {
  margin: 0;
  padding: 0; }
.contactform p {
  margin: 0; }
.contactform span.wpcf7-list-item {
  margin: 0; }
.contactform span.wpcf7-list-item.last {
  margin-left: 35px; }
.contactform .wpcf7-radio {
  margin: 20px 0;
  display: inline-block; }

/****************************/
body.brz-ed {
  background-color: #fff !important; }

.brz .brz-slick-slider .brz-icon-svg, .brz .brz-slick-slider .brz-rich-text * {
  white-space: pre-line;
  display: flex; }

.brz-slick-slider__arrow .brz-icon-svg {
  width: 50px !important;
  height: auto !important; }

.brz .brz-mt-lg-34 {
  margin-top: 18px !important; }

.imgfullwidth, .imgfullwidth figure, .imgfullwidth figure div, .imgfullwidth figure div img {
  width: 100%;
  margin-bottom: 0 !important; }

/*********** blog page ********/
.blogPage .list .article {
  border-bottom: 1px solid rgba(122, 110, 102, 0.21);
  margin-bottom: 40px; }
  .blogPage .list .article .entry-meta {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    display: flex; }
.blogPage h2 {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 300; }
.blogPage .img img {
  width: 100%; }

.blogPageSidebar .articleSidebar {
  border-bottom: 1px solid rgba(122, 110, 102, 0.21);
  margin-bottom: 20px;
  float: left; }
  .blogPageSidebar .articleSidebar h3 {
    line-height: 1.1;
    color: #000;
    margin-bottom: 5px; }
  .blogPageSidebar .articleSidebar p {
    margin: 5px 0; }
  .blogPageSidebar .articleSidebar .vc_col-sm-4 {
    padding-left: 0; }
  .blogPageSidebar .articleSidebar .entry-meta {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    display: flex; }
.blogPageSidebar h2 {
  border-bottom: 1px solid rgba(122, 110, 102, 0.3);
  border-top: 1px solid rgba(122, 110, 102, 0.3);
  padding: 15px 0;
  margin-bottom: 25px; }

.catSidebar {
  padding-bottom: 25px; }
  .catSidebar h2 {
    border-bottom: 1px solid rgba(122, 110, 102, 0.3);
    border-top: 1px solid rgba(122, 110, 102, 0.3);
    padding: 15px 0;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #7A6E66;
    font-size: 18px; }
  .catSidebar ul {
    padding: 0;
    list-style: none; }
    .catSidebar ul li a {
      color: #000;
      line-height: 1;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.7; }

.searchSidebar input.uk-width-1-1 {
  border: 1px solid #7A6E66 !important;
  border-radius: 0 !important;
  background: transparent !important;
  height: 40px !important;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #7A6E66 !important;
  padding: 0 10px !important;
  margin: 0 0 10px 0 !important;
  cursor: pointer; }
.searchSidebar .uk-icon-search {
  width: 17% !important;
  font-size: 23px !important;
  position: absolute !important;
  left: calc(83%) !important;
  top: 8px !important;
  font-weight: 100 !important;
  color: #fff !important;
  background: #7A6E66 !important;
  height: 38px !important;
  padding: 5px 0;
  cursor: pointer; }

.dateArticle {
  min-width: 76px;
  min-height: 76px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  background: #FFB71B;
  text-align: center;
  padding: 12px 18px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  line-height: 1;
  display: inline-table; }

.titleArticle {
  float: left; }

.author {
  color: #7A6E66 !important; }

.except {
  margin-top: 27px;
  margin-bottom: 22px;
  line-height: normal; }

.lireplus {
  margin-bottom: 35px; }
  .lireplus a {
    color: #000; }

.share {
  margin-left: 20px; }
  .share a {
    color: #000;
    margin: 0 5px; }
    .share a svg {
      max-width: 17px;
      height: auto; }

.paginationBlog .pagination .nav-links {
  text-align: center; }
  .paginationBlog .pagination .nav-links .page-numbers {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 2px 8px;
    border: 1px solid rgba(122, 110, 102, 0.36);
    border-radius: 50%;
    color: rgba(122, 110, 102, 0.36); }
    .paginationBlog .pagination .nav-links .page-numbers:hover {
      color: #7A6E66;
      border: 1px solid #7A6E66; }
  .paginationBlog .pagination .nav-links .page-numbers.current {
    color: #7A6E66;
    border: 1px solid #7A6E66;
    cursor: pointer; }
  .paginationBlog .pagination .nav-links .next {
    display: none; }
  .paginationBlog .pagination .nav-links .prev {
    display: none; }

.single-post article {
  padding-bottom: 25px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(122, 110, 102, 0.3); }

.search h1, .search h2, .archive h1, .archive h2 {
  line-height: 1.2; }

.formiti input {
  color: #7A6E66;
  border: 1px solid #7A6E66;
  width: 100%; }
  .formiti input ::placeholder {
    color: #7A6E66; }
.formiti input::placeholder {
  color: #7A6E66; }
.formiti button {
  width: auto;
  height: auto;
  padding: calc(10px / 1366 * 1366) calc(30px / 1366 * 1366) !important;
  font-weight: 400;
  cursor: pointer; }

.breadcrumb {
  color: #7A6E66; }
  .breadcrumb a {
    color: #7A6E66;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-right: 5px; }
    .breadcrumb a:visited {
      color: #7A6E66; }
    .breadcrumb a:hover {
      color: #7A6E66; }
  .breadcrumb .breadcrumb_last {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 5px; }

.vc_toggle_active .vc_toggle_title h4 {
  color: #FFB71B; }

.vc_toggle {
  position: relative;
  left: -20px; }
  .vc_toggle .vc_toggle_title > h4 {
    padding-right: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 1.2; }
  .vc_toggle .faq.faqPage .vc_toggle_title .vc_toggle_icon {
    position: absolute;
    top: 7px; }
  @media (max-width: 767px) {
    .vc_toggle {
      position: inherit;
      left: 0; } }

.imgfullwidth {
  width: 100%; }
  .imgfullwidth figure {
    width: 100%; }
    .imgfullwidth figure a {
      width: 100%; }
      .imgfullwidth figure a img {
        width: 100%; }

.brz-rich-text p {
  white-space: pre-line; }
  .brz-rich-text p span {
    white-space: pre-line; }

.css-c7obq1, [data-css-c7obq1], .css-c7obq1, [data-css-c7obq1] {
  width: 100%;
  padding: 0; }

.css-1tr7msa, [data-css-1tr7msa], .css-43882k, [data-css-43882k] {
  max-width: 1088px !important; }

.bgLeif {
  background: url(/wp-content/themes/beans-theme/assets/images/bgleif.jpg) no-repeat center top !important;
  background-size: 1182px !important;
  background-position: calc(50vw - 544px) 0px !important; }

.css-1061yym b {
  font-weight: 500; }

.serviceHP:hover {
  color: #FFB71B;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  padding-bottom: 11px;
  margin-bottom: 0;
  border-bottom: 4px solid #FFB71B; }

.formulaire li {
  border-bottom: 1px solid rgba(122, 110, 102, 0.3); }

.underslider .padding.ptop30 {
  padding-top: 30px; }
.underslider .width60p100 {
  width: 65%; }
.underslider .vc_custom_heading {
  margin: 0; }

div.pp_pic_holder {
  position: fixed !important;
  top: 5% !important; }

@media (max-width: 767px) {
  .margin.mleft8 {
    margin-left: 0 !important; }
  .margin.mright8 {
    margin-right: 0 !important; }

  .marginInner.mleft8 > .vc_column-inner {
    margin-left: 0px !important; }
  .marginInner.mright8 > .vc_column-inner {
    margin-right: 0px !important; }

  .padding.ptop60 {
    padding-top: 20px !important; }

  .minHImg .vc_column-inner {
    min-height: 250px; } }
.font14 {
  font-size: 14px; }

.font15 {
  font-size: 15px; }

.font16 {
  font-size: 16px; }

.font17 {
  font-size: 17px; }

.font18 {
  font-size: 18px; }

.font19 {
  font-size: 19px; }

.font20 {
  font-size: 20px; }

.font21 {
  font-size: 21px; }

.font22 {
  font-size: 22px; }

.font23 {
  font-size: 23px; }

.font24 {
  font-size: 24px; }

.font25 {
  font-size: 25px; }

.font26 {
  font-size: 26px; }

.font27 {
  font-size: 27px; }

.font28 {
  font-size: 28px; }

.font29 {
  font-size: 29px; }

.font30 {
  font-size: 30px; }

.font31 {
  font-size: 31px; }

.font32 {
  font-size: 32px; }

.font33 {
  font-size: 33px; }

.font34 {
  font-size: 34px; }

.font35 {
  font-size: 35px; }

.font36 {
  font-size: 36px; }

.font37 {
  font-size: 37px; }

.font38 {
  font-size: 38px; }

.font39 {
  font-size: 39px; }

.font40 {
  font-size: 40px; }

.padding.ptop5 {
  padding-top: 5px; }
.padding.ptop10 {
  padding-top: 10px; }
.padding.ptop15 {
  padding-top: 15px; }
.padding.ptop20 {
  padding-top: 20px; }
.padding.ptop25 {
  padding-top: 25px; }
.padding.ptop30 {
  padding-top: 30px; }
.padding.ptop35 {
  padding-top: 35px; }
.padding.ptop40 {
  padding-top: 40px; }
.padding.ptop45 {
  padding-top: 45px; }
.padding.ptop50 {
  padding-top: 50px; }
.padding.ptop55 {
  padding-top: 55px; }
.padding.ptop60 {
  padding-top: 60px; }
.padding.ptop65 {
  padding-top: 65px; }
.padding.ptop70 {
  padding-top: 70px; }
.padding.ptop75 {
  padding-top: 75px; }
.padding.ptop80 {
  padding-top: 80px; }
.padding.ptop85 {
  padding-top: 85px; }
.padding.ptop90 {
  padding-top: 90px; }
.padding.ptop95 {
  padding-top: 95px; }
.padding.ptop100 {
  padding-top: 100px; }
.padding.ptop105 {
  padding-top: 105px; }
.padding.ptop110 {
  padding-top: 110px; }
.padding.ptop115 {
  padding-top: 115px; }
.padding.ptop120 {
  padding-top: 120px; }
.padding.ptop125 {
  padding-top: 125px; }
.padding.ptop130 {
  padding-top: 130px; }
.padding.ptop135 {
  padding-top: 135px; }
.padding.ptop140 {
  padding-top: 140px; }
.padding.ptop145 {
  padding-top: 145px; }
.padding.ptop150 {
  padding-top: 150px; }
.padding.ptop155 {
  padding-top: 155px; }
.padding.ptop160 {
  padding-top: 160px; }
.padding.pleft5 {
  padding-left: 5px; }
.padding.pleft10 {
  padding-left: 10px; }
.padding.pleft15 {
  padding-left: 15px; }
.padding.pleft20 {
  padding-left: 20px; }
.padding.pleft25 {
  padding-left: 25px; }
.padding.pleft30 {
  padding-left: 30px; }
.padding.pleft35 {
  padding-left: 35px; }
.padding.pleft40 {
  padding-left: 40px; }
.padding.pright5 {
  padding-right: 5px; }
.padding.pright10 {
  padding-right: 10px; }
.padding.pright15 {
  padding-right: 15px; }
.padding.pright20 {
  padding-right: 20px; }
.padding.pright25 {
  padding-right: 25px; }
.padding.pright30 {
  padding-right: 30px; }
.padding.pright35 {
  padding-right: 35px; }
.padding.pright40 {
  padding-right: 40px; }
.padding.pbottom5 {
  padding-bottom: 5px; }
.padding.pbottom10 {
  padding-bottom: 10px; }
.padding.pbottom15 {
  padding-bottom: 15px; }
.padding.pbottom20 {
  padding-bottom: 20px; }
.padding.pbottom25 {
  padding-bottom: 25px; }
.padding.pbottom30 {
  padding-bottom: 30px; }
.padding.pbottom35 {
  padding-bottom: 35px; }
.padding.pbottom40 {
  padding-bottom: 40px; }
.padding.pbottom45 {
  padding-bottom: 45px; }
.padding.pbottom50 {
  padding-bottom: 50px; }
.padding.pbottom55 {
  padding-bottom: 55px; }
.padding.pbottom60 {
  padding-bottom: 60px; }
.padding.pbottom65 {
  padding-bottom: 65px; }
.padding.pbottom70 {
  padding-bottom: 70px; }
@media (min-width: 1367px) {
  .padding.ptop5 {
    padding-top: calc(5vw / 13.66); }
  .padding.ptop10 {
    padding-top: calc(10vw / 13.66); }
  .padding.ptop15 {
    padding-top: calc(15vw / 13.66); }
  .padding.ptop20 {
    padding-top: calc(20vw / 13.66); }
  .padding.ptop25 {
    padding-top: calc(25vw / 13.66); }
  .padding.ptop30 {
    padding-top: calc(30vw / 13.66); }
  .padding.ptop35 {
    padding-top: calc(35vw / 13.66); }
  .padding.ptop40 {
    padding-top: calc(40vw / 13.66); }
  .padding.ptop45 {
    padding-top: calc(45vw / 13.66); }
  .padding.ptop50 {
    padding-top: calc(50vw / 13.66); }
  .padding.ptop55 {
    padding-top: calc(55vw / 13.66); }
  .padding.ptop60 {
    padding-top: calc(60vw / 13.66); }
  .padding.ptop65 {
    padding-top: calc(65vw / 13.66); }
  .padding.ptop70 {
    padding-top: calc(70vw / 13.66); }
  .padding.ptop75 {
    padding-top: calc(75vw / 13.66); }
  .padding.ptop80 {
    padding-top: calc(80vw / 13.66); }
  .padding.ptop85 {
    padding-top: calc(85vw / 13.66); }
  .padding.ptop90 {
    padding-top: calc(90vw / 13.66); }
  .padding.ptop95 {
    padding-top: calc(95vw / 13.66); }
  .padding.ptop100 {
    padding-top: calc(100vw / 13.66); }
  .padding.ptop105 {
    padding-top: calc(105vw / 13.66); }
  .padding.ptop110 {
    padding-top: calc(110vw / 13.66); }
  .padding.ptop115 {
    padding-top: calc(115vw / 13.66); }
  .padding.ptop120 {
    padding-top: calc(120vw / 13.66); }
  .padding.ptop125 {
    padding-top: calc(125vw / 13.66); }
  .padding.ptop130 {
    padding-top: calc(130vw / 13.66); }
  .padding.ptop135 {
    padding-top: calc(135vw / 13.66); }
  .padding.ptop140 {
    padding-top: calc(140vw / 13.66); }
  .padding.ptop145 {
    padding-top: calc(145vw / 13.66); }
  .padding.ptop150 {
    padding-top: calc(150vw / 13.66); }
  .padding.ptop155 {
    padding-top: calc(155vw / 13.66); }
  .padding.ptop160 {
    padding-top: calc(160vw / 13.66); }
  .padding.pleft5 {
    padding-left: calc(5vw / 13.66); }
  .padding.pleft10 {
    padding-left: calc(10vw / 13.66); }
  .padding.pleft15 {
    padding-left: calc(15vw / 13.66); }
  .padding.pleft20 {
    padding-left: calc(20vw / 13.66); }
  .padding.pleft25 {
    padding-left: calc(25vw / 13.66); }
  .padding.pleft30 {
    padding-left: calc(30vw / 13.66); }
  .padding.pleft35 {
    padding-left: calc(35vw / 13.66); }
  .padding.pleft40 {
    padding-left: calc(40vw / 13.66); }
  .padding.pright5 {
    padding-right: calc(5vw / 13.66); }
  .padding.pright10 {
    padding-right: calc(10vw / 13.66); }
  .padding.pright15 {
    padding-right: calc(15vw / 13.66); }
  .padding.pright20 {
    padding-right: calc(20vw / 13.66); }
  .padding.pright25 {
    padding-right: calc(25vw / 13.66); }
  .padding.pright30 {
    padding-right: calc(30vw / 13.66); }
  .padding.pright35 {
    padding-right: calc(35vw / 13.66); }
  .padding.pright40 {
    padding-right: calc(40vw / 13.66); }
  .padding.pbottom5 {
    padding-bottom: calc(5vw / 13.66); }
  .padding.pbottom10 {
    padding-bottom: calc(10vw / 13.66); }
  .padding.pbottom15 {
    padding-bottom: calc(15vw / 13.66); }
  .padding.pbottom20 {
    padding-bottom: calc(20vw / 13.66); }
  .padding.pbottom25 {
    padding-bottom: calc(25vw / 13.66); }
  .padding.pbottom30 {
    padding-bottom: calc(30vw / 13.66); }
  .padding.pbottom35 {
    padding-bottom: calc(35vw / 13.66); }
  .padding.pbottom40 {
    padding-bottom: calc(40vw / 13.66); }
  .padding.pbottom45 {
    padding-bottom: calc(45vw / 13.66); }
  .padding.pbottom50 {
    padding-bottom: calc(50vw / 13.66); }
  .padding.pbottom55 {
    padding-bottom: calc(55vw / 13.66); }
  .padding.pbottom60 {
    padding-bottom: calc(60vw / 13.66); }
  .padding.pbottom65 {
    padding-bottom: calc(65vw / 13.66); }
  .padding.pbottom70 {
    padding-bottom: calc(70vw / 13.66); } }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #ffb71b; }
  a:visited {
    color: #ffb71b; }
  a:hover, a:focus, a:active {
    color: #FFB71B; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  text-align: center; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul li {
        background: rgba(255, 255, 255, 0.82);
        margin-bottom: 1px;
        padding: 8px 17px;
        width: 100%;
        display: inline-table; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 100%;
        white-space: nowrap; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: 0; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.headerMobile #cssmenu, .headerMobile #cssmenu ul, .headerMobile #cssmenu ul li, .headerMobile #cssmenu ul li a, .headerMobile #cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box; }

.headerMobile #cssmenu:after, .headerMobile #cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.headerMobile {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.82); }
  .headerMobile header {
    position: relative;
    width: 100%; }
  .headerMobile .logo {
    position: relative;
    z-index: 123;
    font: 18px verdana;
    color: #7A6E66;
    float: left;
    width: 15%;
    padding: 12px; }
    .headerMobile .logo a {
      color: #7A6E66;
      padding: 7px 0 7px 20px; }
      .headerMobile .logo a img {
        max-width: 100px; }
  .headerMobile nav {
    position: relative;
    width: 980px;
    margin: 0 auto; }
  .headerMobile #cssmenu {
    font-family: sans-serif; }
    .headerMobile #cssmenu > ul {
      margin: 0px !important; }
    .headerMobile #cssmenu ul {
      padding: 0px; }
    .headerMobile #cssmenu ul li.active {
      background: #7A6E66 !important;
      transition: background .3s ease; }
      .headerMobile #cssmenu ul li.active a {
        color: #fff; }
      .headerMobile #cssmenu ul li.active:hover {
        background: #7A6E66 !important;
        transition: background .3s ease; }
    .headerMobile #cssmenu ul li.has-sub.active:hover {
      background: #7A6E66 !important;
      transition: background .3s ease; }
    .headerMobile #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
      background: #363636; }
    .headerMobile #cssmenu ul ul {
      position: absolute;
      left: -9999px; }
      .headerMobile #cssmenu ul ul li {
        height: 0;
        background: #000;
        transition: all .25s ease; }
        .headerMobile #cssmenu ul ul li a {
          border-bottom: 1px solid rgba(150, 150, 150, 0.15);
          padding: 11px 15px;
          width: 170px;
          font-size: 12px;
          text-decoration: none;
          color: #000;
          font-weight: 400; }
          .headerMobile #cssmenu ul ul li a:hover {
            color: #fff; }
        .headerMobile #cssmenu ul ul li.has-sub > a:after {
          position: absolute;
          top: 16px;
          right: 11px;
          width: 8px;
          height: 2px;
          display: block;
          background: #000;
          content: ''; }
        .headerMobile #cssmenu ul ul li.has-sub > a:before {
          position: absolute;
          top: 13px;
          right: 14px;
          display: block;
          width: 2px;
          height: 8px;
          background: #000;
          content: '';
          transition: all .25s ease; }
        .headerMobile #cssmenu ul ul li.has-sub:hover {
          background: #363636; }
        .headerMobile #cssmenu ul ul li:hover > a {
          color: #fff; }
        .headerMobile #cssmenu ul ul li:last-child > a {
          border-bottom: 0; }
        .headerMobile #cssmenu ul ul li.last-item > a {
          border-bottom: 0; }
      .headerMobile #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0; }
        .headerMobile #cssmenu ul ul ul li.active a {
          border-left: 1px solid #000; }
      .headerMobile #cssmenu ul ul > li.has-sub:hover > a:before {
        top: 17px;
        height: 0; }
    .headerMobile #cssmenu #head-mobile {
      display: none; }
    .headerMobile #cssmenu > ul > li {
      float: left; }
      .headerMobile #cssmenu > ul > li > a {
        padding: 17px;
        font-size: 12px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #000;
        font-weight: 700; }
      .headerMobile #cssmenu > ul > li:hover {
        background: #7A6E66 !important;
        transition: background .3s ease; }
        .headerMobile #cssmenu > ul > li:hover > a {
          color: #FFB71B; }
      .headerMobile #cssmenu > ul > li.has-sub > a {
        padding-right: 30px; }
        .headerMobile #cssmenu > ul > li.has-sub > a:after {
          position: absolute;
          top: 22px;
          right: 11px;
          width: 8px;
          height: 2px;
          display: block;
          background: #000;
          content: ''; }
        .headerMobile #cssmenu > ul > li.has-sub > a:before {
          position: absolute;
          top: 19px;
          right: 14px;
          display: block;
          width: 2px;
          height: 8px;
          background: #000;
          content: '';
          transition: all .25s ease; }
      .headerMobile #cssmenu > ul > li.has-sub:hover > a:before {
        top: 23px;
        height: 0; }
      .headerMobile #cssmenu > ul > li.has-sub > ul > li.active > a {
        border-top: 1px solid #000; }
    .headerMobile #cssmenu > ul ul > li.has-sub > ul > li.active > a {
      border-top: 1px solid #000; }
    .headerMobile #cssmenu li:hover > ul {
      left: auto; }
      .headerMobile #cssmenu li:hover > ul > li {
        height: 35px; }
  @media screen and (max-width: 767px) {
    .headerMobile .logo {
      text-align: center;
      float: none; }
    .headerMobile .logo2 {
      display: none; }
    .headerMobile nav {
      width: 100%; }
    .headerMobile #cssmenu {
      width: 100%; }
      .headerMobile #cssmenu ul {
        background: rgba(255, 255, 255, 0.82);
        width: 100%;
        display: none;
        position: absolute;
        z-index: 3; }
        .headerMobile #cssmenu ul li {
          width: 100%;
          border-top: 1px solid #fff; }
          .headerMobile #cssmenu ul li:hover {
            background: rgba(255, 255, 255, 0.82) !important; }
          .headerMobile #cssmenu ul li a {
            width: 100%;
            border-bottom: 0; }
        .headerMobile #cssmenu ul ul {
          position: relative;
          left: 0;
          width: 100%;
          margin: 0;
          text-align: left; }
          .headerMobile #cssmenu ul ul li {
            height: auto;
            background: rgba(255, 183, 27, 0.15) !important; }
            .headerMobile #cssmenu ul ul li a {
              width: 100%;
              border-bottom: 0;
              padding-left: 25px;
              color: #000;
              background: none; }
            .headerMobile #cssmenu ul ul li:hover {
              background: rgba(255, 183, 27, 0.15) !important; }
              .headerMobile #cssmenu ul ul li:hover > a {
                color: #FFB71B; }
            .headerMobile #cssmenu ul ul li.active > a {
              color: #FFB71B; }
          .headerMobile #cssmenu ul ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left; }
            .headerMobile #cssmenu ul ul ul li a {
              padding-left: 35px; }
            .headerMobile #cssmenu ul ul ul li.active a {
              border-left: none; }
          .headerMobile #cssmenu ul ul .submenu-button {
            height: 34px;
            width: 34px; }
            .headerMobile #cssmenu ul ul .submenu-button:after {
              top: 15px;
              right: 13px; }
            .headerMobile #cssmenu ul ul .submenu-button:before {
              top: 12px;
              right: 16px; }
          .headerMobile #cssmenu ul ul > li.has-sub > a:after {
            display: none; }
          .headerMobile #cssmenu ul ul > li.has-sub > a:before {
            display: none; }
      .headerMobile #cssmenu > ul > li {
        float: none; }
        .headerMobile #cssmenu > ul > li.has-sub > a:after {
          display: none; }
        .headerMobile #cssmenu > ul > li.has-sub > a:before {
          display: none; }
        .headerMobile #cssmenu > ul > li.has-sub > ul > li.active > a {
          border-top: none; }
      .headerMobile #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none; }
      .headerMobile #cssmenu #head-mobile {
        display: block;
        /*padding: 74px;*/
        color: #000;
        font-size: 12px;
        font-weight: 700; }
      .headerMobile #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #fff;
        height: 46px;
        width: 46px;
        cursor: pointer; }
        .headerMobile #cssmenu .submenu-button.submenu-opened {
          background: #FFB71B; }
          .headerMobile #cssmenu .submenu-button.submenu-opened:after {
            background: #fff; }
          .headerMobile #cssmenu .submenu-button.submenu-opened:before {
            display: none; }
        .headerMobile #cssmenu .submenu-button:after {
          position: absolute;
          top: 22px;
          right: 19px;
          width: 8px;
          height: 2px;
          display: block;
          background: #000;
          content: ''; }
        .headerMobile #cssmenu .submenu-button:before {
          position: absolute;
          top: 19px;
          right: 22px;
          display: block;
          width: 2px;
          height: 8px;
          background: #000;
          content: ''; }
      .headerMobile #cssmenu li:hover > ul > li {
        height: auto; }
    .headerMobile .button {
      width: 55px;
      height: 46px;
      position: absolute;
      right: 10px;
      top: 7px;
      cursor: pointer;
      z-index: 12399994; }
      .headerMobile .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #7A6E66;
        border-bottom: 2px solid #7A6E66;
        content: ''; }
      .headerMobile .button:before {
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #7A6E66;
        content: ''; }
      .headerMobile .button.menu-opened:after {
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #7A6E66;
        transform: rotate(45deg); }
      .headerMobile .button.menu-opened:before {
        top: 23px;
        background: #7A6E66;
        width: 19px;
        transform: rotate(-45deg); } }
  @media (min-width: 768px) {
    .headerMobile {
      display: none; } }

@media (max-width: 767px) {
  #masthead {
    display: none !important; } }

#sideMenu, #sideMenu ul, #sideMenu li, #sideMenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  position: relative; }

#masthead {
  background-color: rgba(255, 255, 255, 0.82);
  position: absolute;
  z-index: 33;
  width: 100%; }

#sideMenu {
  width: 250px; }
  #sideMenu ul ul {
    display: none; }
    #sideMenu ul ul li {
      border: 1px solid #5fc7d1;
      border-top: 0;
      background: #5fc7d1; }
    #sideMenu ul ul a {
      padding: 10px;
      display: block;
      color: #fff;
      font-size: 13px; }
      #sideMenu ul ul a:hover {
        color: #f4f4f4; }
  #sideMenu a {
    line-height: 1.3; }
  #sideMenu > ul > li > a {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: #5fc7d1;
    color: #ffffff;
    text-transform: uppercase;
   /* &:after{
  	  content:"";
  	  float:left;
  	  width:80%;
  	  border-bottom:1px solid #FFFFFF;
  	  margin:0 auto;
  	  padding-top:calc(19vw / 17.51);
    }*/ }
    #sideMenu > ul > li > a > span {
      background: #fff;
      padding: 10px;
      display: block;
      font-size: 13px;
      font-weight: 300; }
    #sideMenu > ul > li > a:hover {
      text-decoration: none;
      color: #96c251; }
  #sideMenu > ul > li.active {
    border-bottom: none; }
    #sideMenu > ul > li.active > a {
      color: #96c251; }
      #sideMenu > ul > li.active > a span {
        background: #5fc7d1; }
  #sideMenu span.cnt {
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: none; }

.menu-item-language-current a, .menu-item-language a:hover {
  font-weight: 700; }

.main-navigation ul > .menu-item-language ~ .menu-item-language {
  padding-left: 0 !important; }

.main-navigation ul > .menu-item-language ~ .menu-item-language a::before {
  content: " ";
  width: 2px;
  border-left: 2px solid #333;
  padding-right: 10px; }

@font-face {
  font-family: 'didot';
  src: url("/wp-content/themes/beans-theme/assets/fonts/DidotLTStd-Italic.otf"); }
@font-face {
  font-family: 'icomoon';
  src: url("/wp-content/themes/beans-theme/assets/fonts/icomoon.eot?71cvjm");
  src: url("/wp-content/themes/beans-theme/assets/fonts/icomoon.eot?71cvjm#iefix") format("embedded-opentype"), url("/wp-content/themes/beans-theme/assets/fonts/icomoon.ttf?71cvjm") format("truetype"), url("/wp-content/themes/beans-theme/assets/fonts/icomoon.woff?71cvjm") format("woff"), url("/wp-content/themes/beans-theme/assets/fonts/icomoon.svg?71cvjm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.identit {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.identit:hover {
  border: none; }

idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path1:before {
  content: "\e90b";
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path2:before {
  content: "\e90c";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path3:before {
  content: "\e90d";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path4:before {
  content: "\e90e";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path5:before {
  content: "\e90f";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path6:before {
  content: "\e910";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path7:before {
  content: "\e911";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path8:before {
  content: "\e912";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path9:before {
  content: "\e913";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path10:before {
  content: "\e914";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path11:before {
  content: "\e915";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path12:before {
  content: "\e916";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path13:before {
  content: "\e917";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path14:before {
  content: "\e918";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path15:before {
  content: "\e919";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path16:before {
  content: "\e91a";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path17:before {
  content: "\e91b";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path18:before {
  content: "\e91c";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path19:before {
  content: "\e91d";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path20:before {
  content: "\e91e";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path21:before {
  content: "\e91f";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path22:before {
  content: "\e920";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path23:before {
  content: "\e921";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path24:before {
  content: "\e922";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path25:before {
  content: "\e923";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path26:before {
  content: "\e924";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path27:before {
  content: "\e925";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path28:before {
  content: "\e926";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path29:before {
  content: "\e927";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path30:before {
  content: "\e928";
  margin-left: -2.7275390625em;
  color: #ffb71b; }

.idnetit-identiT_CentreDentaire_Logo_FondBlanc_Final3_outline .path31:before {
  content: "\e929";
  margin-left: -2.7275390625em;
  color: #7a6e66; }

.idnetit-orthodontie:before {
  content: "\e900"; }

.idnetit-email:before {
  content: "\e901"; }

.idnetit-phone:before {
  content: "\e902"; }

.idnetit-map:before {
  content: "\e903"; }

.idnetit-facebook-rs:before {
  content: "\e904"; }

.idnetit-booking:before {
  content: "\e905"; }

.idnetit-Esthetique:before {
  content: "\e906"; }

.idnetit-implantologie:before {
  content: "\e907"; }

.idnetit-d-generale:before {
  content: "\e908"; }

.idnetit-parodontie:before {
  content: "\e909"; }

.idnetit-endodontie:before {
  content: "\e90a"; }

.tabsHome .brz-tabs__nav {
  border-bottom: 1px solid #FFB71B; }
  .tabsHome .brz-tabs__nav .brz-tabs__nav--button {
    padding-top: 63px; }
  .tabsHome .brz-tabs__nav .brz-tabs__nav--active .brz-text__editor {
    color: #FFB71B; }
  .tabsHome .brz-tabs__nav li:nth-child(1) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab1.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(2) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab2.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(3) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab3.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(4) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab4.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(5) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab5.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(6) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab6.jpg") no-repeat center top; }

.bgLeif {
  background: url("/wp-content/themes/beans-theme/assets/images/bgleif.jpg") no-repeat center top;
  background-size: 1294px;
  background-position: calc(50vw - 594px) 0px; }

.brz .css-lfbrd7 .brz-section__content, .brz [data-css-lfbrd7] .brz-section__content {
  min-height: initial !important; }

.brz .brz-section__content > .brz-bg {
  height: initial !important; }

.weightBlack {
  font-weight: 900; }

.vc_btn3-container[class*="linkAdded_"] {
  display: none !important; }

.grayBg40 {
  background-color: rgba(122, 110, 102, 0.4); }

.faqServices .faq {
  width: calc(100% - 20px);
  left: 0px; }

.paddingInner.ptop60 .vc_column-inner {
  padding-top: 60px !important; }
.paddingInner.custom30x20 > .vc_column-inner {
  padding: 30px 20px !important; }
.paddingInner.customPaddingIcon {
  padding-left: 80px;
  padding-right: 80px; }

.phoneIcon {
  margin-right: 15px;
  display: inline-block;
  width: 20px;
  height: 32px;
  background: url(/wp-content/themes/beans-theme/assets/images/phone.png) no-repeat;
  background-size: contain; }
  .phoneIcon i {
    display: none; }

.mailIcon {
  margin-right: 15px;
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(/wp-content/themes/beans-theme/assets/images/mail.png) no-repeat;
  background-size: contain; }
  .mailIcon i {
    display: none; }

.font28 {
  font-size: 28px; }

.sideblockbtn {
  display: none; }

.sideblocks form {
  margin-bottom: 0px; }
.sideblocks .contactform.padding48yt {
  padding-top: 0px; }
.sideblocks .contactform input[type="text"], .sideblocks .contactform input[type="email"], .sideblocks .contactform input[type="url"], .sideblocks .contactform input[type="password"], .sideblocks .contactform input[type="search"], .sideblocks .contactform input[type="number"], .sideblocks .contactform input[type="tel"], .sideblocks .contactform input[type="range"], .sideblocks .contactform input[type="date"], .sideblocks .contactform input[type="month"], .sideblocks .contactform input[type="week"], .sideblocks .contactform input[type="time"], .sideblocks .contactform input[type="datetime"], .sideblocks .contactform input[type="datetime-local"], .sideblocks .contactform input[type="color"], .sideblocks .contactform textarea, .sideblocks .contactform select {
  background-color: #fff; }
.sideblocks .contactform input[type="submit"] {
  margin: 0 auto;
  display: block; }
.sideblocks .contactform .vc_col-sm-6 {
  margin: 0;
  padding: 0; }
.sideblocks .contactform p {
  margin: 0; }
.sideblocks .contactform span.wpcf7-list-item {
  margin: 0; }
.sideblocks .contactform span.wpcf7-list-item.last {
  margin-left: 35px; }
.sideblocks .contactform .wpcf7-radio {
  margin: 20px 0;
  display: inline-block; }
.sideblocks .contactform .ajax-loader {
  margin-top: -33px; }
.sideblocks .contactform .wpcf7-form-control-wrap.radio {
  display: none; }
.sideblocks .contactform > p.lato.font18.brown.regular {
  display: none; }
.sideblocks .contactform .wpcf7-form-control.wpcf7-submit {
  display: none; }
.sideblocks .contactform .sideblockbtn {
  display: block !important;
  margin-top: 25px !important; }

.sideblocksRightSide .btnTheme > .vc_btn3 {
  height: 33px;
  padding: 0px 23px;
  line-height: 33px;
  width: 296px; }

.margin.mleft8 {
  margin-left: 8px; }
.margin.mright8 {
  margin-right: 8px; }
.margin.mtop13 {
  margin-top: 13px; }
.margin.mbottom0 {
  margin-bottom: 0; }
.margin.mbottom13 {
  margin-bottom: 13px; }

.marginInner.mleft8 > .vc_column-inner {
  margin-left: 8px; }
.marginInner.mright8 > .vc_column-inner {
  margin-right: 8px; }

.containerPos {
  position: relative; }
  .containerPos .moveAbsolute {
    position: absolute; }
    .containerPos .moveAbsolute.bottom50 {
      bottom: 50px; }
    .containerPos .moveAbsolute.bottom22 {
      bottom: 22px; }

.minHeight.m580 {
  min-height: 580px; }
  .minHeight.m580 .vc_column-inner {
    min-height: 580px; }
.minHeight.m428 {
  min-height: 428px; }
  .minHeight.m428 .vc_column-inner {
    min-height: 428px; }
.minHeight.m270 {
  min-height: 270px; }
.minHeight.m330 {
  min-height: 330px; }
  .minHeight.m330 .vc_column-inner {
    min-height: 330px; }
.minHeight.m350 {
  min-height: 350px; }
.minHeight.mvw474 {
  min-height: calc(474vw / 13.66); }

.centerCol .vc_column-inner {
  display: flex;
  justify-content: center; }

.btnTheme .vc_general {
  font-size: 14px !important;
  font-family: Lato;
  color: #fff !important;
  background-color: #FFB71B !important;
  border: none !important;
  background-image: none !important;
  text-transform: uppercase; }
.btnTheme.gray .vc_general {
  background-color: #7A6E66 !important; }

em {
  color: initial; }

.didot {
  font-family: "didot"; }

.heebo {
  font-family: "Lato"; }

.italic {
  font-style: italic; }

.font26 {
  font-size: 26px; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.containerwp.w100 {
  padding-left: 100px;
  padding-right: 100px; }
.containerwp.w140 {
  padding-left: 140px;
  padding-right: 140px; }
.containerwp.w190 {
  padding-left: 190px;
  padding-right: 190px; }
.containerwp.w210 {
  padding-left: 210px;
  padding-right: 210px; }
.containerwp.w230 {
  padding-left: 230px;
  padding-right: 230px; }
.containerwp.w280 {
  padding-left: 280px;
  padding-right: 280px; }
@media (max-width: 768px) {
  .containerwp.w100, .containerwp.w140, .containerwp.w190, .containerwp.w210, .containerwp.w230, .containerwp.w280, .containerwp.w580, .containerwp.W830 {
    padding-left: 30px;
    padding-right: 30px; } }
@media (max-width: 425px) {
  .containerwp.w100, .containerwp.w140, .containerwp.w190, .containerwp.w210, .containerwp.w230, .containerwp.w280, .containerwp.W830, .containerwp.w580 {
    padding-left: 20px;
    padding-right: 20px; } }
.containerwp.maxW560 {
  max-width: 560px;
  margin: 0 auto !important; }

.containerW830 {
  max-width: 830px;
  margin: 0 auto !important; }

.colorWhite {
  color: #fff !important; }
  .colorWhite em {
    color: #fff !important; }

.footerwp {
  padding: 60px 235px 0px 140px !important;
  min-height: 360px;
  background: url(/wp-content/uploads/brizy/139/assets/images/165d337efa933d9ea96ef057c6756e8a170f9b6d.jpeg) no-repeat;
  background-size: cover; }
  @media (max-width: 768px) {
    .footerwp {
      padding: 60px 30px 10px !important; } }
  @media (max-width: 425px) {
    .footerwp {
      padding: 60px 15px 10px !important; } }
  .footerwp .socialIcon .fa {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 4px;
    line-height: 25px;
    margin: 0px 3.5px;
    font-size: 17px; }
    .footerwp .socialIcon .fa strong {
      display: none; }
  .footerwp .socialIcon a {
    text-align: center;
    color: #000; }
    .footerwp .socialIcon a:hover {
      color: #ffb71b; }
  .footerwp .menuFooter .menu {
    padding-left: 0px;
    margin: 0px;
    list-style: none; }
    .footerwp .menuFooter .menu > li {
      display: inline-block;
      position: relative;
      padding-right: 20px; }
      .footerwp .menuFooter .menu > li:after {
        position: absolute;
        content: "|";
        right: 7px;
        top: 0;
        font-size: 14px; }
      .footerwp .menuFooter .menu > li:last-child:after {
        content: ""; }
      .footerwp .menuFooter .menu > li a {
        text-transform: uppercase;
        font-size: 14px;
        font-family: "Lato";
        color: #000; }
      .footerwp .menuFooter .menu > li ul {
        display: none; }

.footerCopyright {
  background-color: #7a6e66; }

.leifComp {
  position: relative;
  border: 1px solid #707070;
  min-height: 290px;
  margin: 0px 140px !important;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 54px !important; }
  .leifComp:after {
    position: absolute;
    background: url(/wp-content/themes/beans-theme/assets/images/leif.png) no-repeat;
    width: 864px;
    height: 415px;
    right: -127px; }

.servicesMenu {
  padding-bottom: 30px; }
  .servicesMenu div.menu-services-container > ul, .servicesMenu div.menu-services-en-container > ul {
    padding-left: 0px;
    margin: 0px; }
    .servicesMenu div.menu-services-container > ul > li, .servicesMenu div.menu-services-en-container > ul > li {
      list-style: none;
      border-bottom: 1px solid rgba(112, 112, 112, 0.3); }
      .servicesMenu div.menu-services-container > ul > li a, .servicesMenu div.menu-services-en-container > ul > li a {
        padding-left: 20px;
        font-family: "Lato";
        font-size: 16px;
        color: #000;
        line-height: 30px; }
    .servicesMenu div.menu-services-container > ul > li ul, .servicesMenu div.menu-services-en-container > ul > li ul {
      display: none; }
    .servicesMenu div.menu-services-container > ul > li.current-menu-parent > a, .servicesMenu div.menu-services-container > ul > li.current-menu-item > a, .servicesMenu div.menu-services-en-container > ul > li.current-menu-parent > a, .servicesMenu div.menu-services-en-container > ul > li.current-menu-item > a {
      color: #fff;
      line-height: 30px;
      background-color: #7A6E66;
      display: block; }
    .servicesMenu div.menu-services-container > ul > li.current-menu-parent ul, .servicesMenu div.menu-services-container > ul > li.current-menu-item ul, .servicesMenu div.menu-services-en-container > ul > li.current-menu-parent ul, .servicesMenu div.menu-services-en-container > ul > li.current-menu-item ul {
      padding-left: 0px;
      display: block;
      background-color: rgba(122, 110, 102, 0.06); }
      .servicesMenu div.menu-services-container > ul > li.current-menu-parent ul a, .servicesMenu div.menu-services-container > ul > li.current-menu-item ul a, .servicesMenu div.menu-services-en-container > ul > li.current-menu-parent ul a, .servicesMenu div.menu-services-en-container > ul > li.current-menu-item ul a {
        color: #000; }
      .servicesMenu div.menu-services-container > ul > li.current-menu-parent ul li, .servicesMenu div.menu-services-container > ul > li.current-menu-item ul li, .servicesMenu div.menu-services-en-container > ul > li.current-menu-parent ul li, .servicesMenu div.menu-services-en-container > ul > li.current-menu-item ul li {
        list-style: none;
        padding-left: 20px;
        width: 100%;
        display: inline-flex;
        border-bottom: 1px solid white; }
        .servicesMenu div.menu-services-container > ul > li.current-menu-parent ul li:last-child, .servicesMenu div.menu-services-container > ul > li.current-menu-item ul li:last-child, .servicesMenu div.menu-services-en-container > ul > li.current-menu-parent ul li:last-child, .servicesMenu div.menu-services-en-container > ul > li.current-menu-item ul li:last-child {
          border-bottom: none; }
      .servicesMenu div.menu-services-container > ul > li.current-menu-parent ul li.current_page_item, .servicesMenu div.menu-services-container > ul > li.current-menu-item ul li.current_page_item, .servicesMenu div.menu-services-en-container > ul > li.current-menu-parent ul li.current_page_item, .servicesMenu div.menu-services-en-container > ul > li.current-menu-item ul li.current_page_item {
        background-color: rgba(122, 110, 102, 0.2); }

.content-service p.lato {
  line-height: 1.5; }

a[class*="linkAdded_"] p {
  color: #000 !important; }
a[class*="linkAdded_"]:hover {
  text-decoration: none !important; }

.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.82);
  padding: 30px 0 0 0; }

.site-branding img {
  max-height: 65px; }

/*# sourceMappingURL=style.css.map */
