.comment-notes{
	font-family: 'Lato', sans-serif !important;
	font-size: widthCalc(16) !important;
	color:#000;
	font-weight:400;
}
.comment-reply-title{
	font-family: 'Lato', sans-serif !important;
	font-size: widthCalc(30) !important;
	color:#000;
	font-weight:300;	
}
.comment-form-comment{
	#comment{
		width:100%;
		padding: calc(17px / 1366 * 1080);
	}
}
.comment-form-author{
	width:48%;
	float:left;
	input{
		width:100%;
	}
}
.comment-form-email{
	width:48%;
	float:right;
	input{
		width:100%
	}
}
.vc_toggle_content, .vc_toggle_content p.lato{
    margin-bottom: 0 !important;
}
.page-child .vc_toggle{
    margin-bottom: 16px;
}
.btn-theme {
  padding: widthCalc(11) widthCalc(30) !important;
  font-size: widthCalc(14);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background:#FFB71B ;
  text-align: center;
  border:none;
  text-transform:uppercase;
  &:focus{
	  color: #fff;
  }
  &.dark {
    background: #7A6E66;
    color: #fff;
    min-width: widthCalc(160);
  }
  @media (max-width: $desktop-width) {

    padding: widthCalcFixedSize(9) widthCalcFixedSize(25);
    font-size: widthCalcFixedSize(18);
    &.dark {

      min-width: widthCalcFixedSize(160);
    }
  }
  &.circle {
    min-width: initial;
    position: relative;
    border-radius: 100%;
    height: 47px;
    display: flex;
    width: 47px;
    align-items: center;
    padding-left: 14px;
    @media (max-width: $desktop-width) {
      padding-left: 18px;
    }
    .out {
      position: absolute;
      top: 10px;
      width: 210px;
      text-align: left;
      padding-left: 45px;
    }
  }
}

a.btn-theme {
  display: inline-block;
  &:visited {
    color: #fff;
  }
}

.displayFlex {
  > * > .wpb_wrapper {
    display: flex;
  }
  &.centery {
    > * > .wpb_wrapper {
      align-items: center;
    }
  }
}

.flexText {
  &.center {
    height: 100%;
    display: flex;
    align-items: center;
  }

}

.Pabsolute {
  position: absolute !important;
  &.bottom {
    bottom: 0;
  }
}

.site-footer {
  background: #5fc7d1;
  height: widthCalc(400);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  > .vc_row {
    width: 100%;
  }
  .widget_nav_menu {
    div > ul > li > ul {
      display: none;
    }
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
        @extend %font16;
      }
      > li {
        width: 45%;
        display: inline-block;
      }
    }
  }
  .partenaires {
    height: widthCalc(90);
    *:not(.vc_figure).wpb_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .iconLinks {
    .wpb_wrapper {

      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
  @media (max-width: $table-width-for-hide) {
    %font16 {
      font-size: 14px;
    }
    .vc_separator {
      margin-bottom: 5px;
    }
    .widget_nav_menu ul > li:nth-child(even) a {
      padding-left: 22px;
    }
    .wpb_text_column {
      padding-bottom: 5px;
    }
    padding-top: 30px;
    height: auto;
    br {
      display: none;
    }
    .partenaires {
      height: auto;
      *:not(.vc_figure).wpb_wrapper {
        flex-direction: column;
        align-items: left;

      }
      .wpb_single_image {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .iconLinks {
      .wpb_wrapper {

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.carousel-slider {
  height: widthCalc(874);
  .btn-Slider {
    background: url("/wp-content/themes/skull-rive/assets/arrow.png") no-repeat;
    width: 24px;
    height: 12px;
    cursor: pointer;
    display: block;
    &.left {
      transform: rotate(90deg);
    }
    &.right {
      transform: rotate(-90deg);
      margin-left: 35px;
    }
  }
  .btns {
    margin-left: widthCalc(130);
    margin-bottom: widthCalc(40);
    display: flex;
    @media (max-width: $table-width-for-hide) {
      float: right;
      margin-right: widthCalc(130);
    }
  }
  .contentSlider {
    position: absolute;
    top: widthCalc(500);
    left: widthCalc(130);
    width: 60%;
	line-height: 1.3;
  }
}

.blueBg {
  background: #5fc7d1;
}

.middleCover {
  height: widthCalc(745);
  @media (max-width: $table-width-for-hide) {
    height: calc(548vw / 429 * 100);
    .vc_parallax-inner {
      //background-size: contain!important;
      height: 70% !important;
    }
    .padding50y {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

}

.windowHomepage {
  margin-top: widthCalc(-140);
  .title {
    height: widthCalc(80);
	padding-top: 8px;
  }
  @media (max-width: $desktop-width) {
    margin-top: widthCalcFixedSize(-140);
    .title {
	  padding-top: 6px;
      height: widthCalcFixedSize(80);
    }
  }
  @media (max-width: $table-width-for-hide) {
    /*margin-top: calc(-60px / 1366 * 1366);

    margin-left: calc(-130vw / 17.51);
    margin-right: calc(-130vw / 17.51);
    margin-bottom: 18px;*/
	margin:0;
    width: initial !important;
    .title {
      height: widthCalcFixedSize(90);
    }
  }
}

.widgetMailchimp {
  height: widthCalc(300) !important;
  background: #343e47;
  .mc4wp-form-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    input[type="submit"] {
      background: url(/wp-content/themes/skull-rive/assets/checkbox.png);
      background-color: #5fc7d1;
      background-repeat: no-repeat;
      background-position: center;
      width: widthCalc(90);
      border-radius: 0px 3px 3px 0px;
    }
    input[type="email"] {
      border-radius: 3px 0px 0px 3px;
    }
  }
  @media (max-width: $table-width-for-hide) {
    height: 300px !important;
    .mc4wp-form-fields {
      input[type="submit"] {
        width: 90px;
      }

    }
  }
}

.homepageGrid {
  .vc_grid .vc_clearfix {
    > p {
      display: none;
    }
    .vc_col-sm-4 {
      @media (min-width: 768px) {
        width: 32.333333%;
      }
    }
    .vc_grid-item-mini {
      .vc_gitem-animated-block .vc_gitem-zone {
        height: widthCalc(260);
        @media (max-width: $table-width-for-hide) {
          height: 260px;
        }
      }

    }
  }
  .datepost {
    margin-left: calc(-17vw / 19.20);
    margin-top: calc(-102vw / 19.20);
    width: widthCalc(60);
    height: widthCalc(70);
    background: #5fc7d1;
    color: #fff;
    .day {
      text-align: center;
      font-size: widthCalc(30);
    }
    .month {
      text-align: center;
      font-size: widthCalc(15);
    }
    @media (max-width: $table-width-for-hide) {
      margin-left: -10px;
      margin-top: -102px;
      width: 60px;
      height: 70px;
      .day {
        font-size: 30px;
      }
      .month {
        font-size: 15px;
      }
    }
  }
  .oneb{
	  .datepost{
		margin-top: calc(185vw / 19.20) !important;
	  }
	  h4{
		  margin-top:0 !important;
	  }
	}
  .vc_gitem-zone {
    overflow: initial;
  }
}

//below slider
.padding130x.row.innerTop0.padding60y {
  @media (max-width: $table-width-for-hide) {
    display: flex;
    flex-direction: column-reverse;
    .font25 {
      margin-top: 0px;
    }
  }

}

.faq {
  .vc_toggle_title {
    .vc_toggle_icon {
      right: 0;
      left: initial !important;
      &:before, &:after {
        background-color: #5fc7d1;
      }
    }
  }
  &.faqPage {
    .vc_toggle_title {
      .vc_toggle_icon {
        position: absolute;
        top: 7px;
        &:after {
          visibility: hidden !important;
        }
        &:before {
          visibility: visible !important;
          transition: all .3s;

          transform: rotate(-45deg);
        }
      }
    }
    &.vc_toggle_active {
      .vc_toggle_icon:before {

        transform: rotate(45deg);
      }
    }
  }
}

.servicesPadding {
  > .wpb_column {
    padding: 0px 10px;
  }
}

.servicex {
	.font20 {
    min-height: widthCalc(48);
  }
  &.link{
    padding-top: 20px;}
  .vc_single_image-wrapper {
    position: relative;
    &:after {
      position: absolute;
      top: 0px;
      left: 0px;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 100%;
      content: " ";
    }
  }
  &.icon1 .vc_single_image-wrapper:after {
    background-image: url(/wp-content/themes/skull-rive/assets/service1icon.png);
  }
  &.icon2 .vc_single_image-wrapper:after {
    background-image: url(/wp-content/themes/skull-rive/assets/service2icon.png);
  }
  &.icon3 .vc_single_image-wrapper:after {
    background-image: url(/wp-content/themes/skull-rive/assets/service3icon.png);
  }
  &.icondupont .vc_single_image-wrapper:after {
    background-image: url(/wp-content/uploads/2018/05/Entreprise-Partenaire-DupontGignac-2.png);
	background-size: contain;
  }
    &.iconMarieJosee .vc_single_image-wrapper:after {
    background-image: url(/wp-content/uploads/2018/05/Entreprise-Partenaire-MarieJosee-Paul-2.png);
	background-size: contain;
  }
  &.wpb_text_column {
    width: 100%;
    max-width: 371px;
    background: #eff9fa;
    padding: widthCalc(20);
    margin-top: widthCalc(20);
    @media (max-width: $table-width-for-hide) {
      width: 100%;
      .font20 {
        font-size: 18px;
        font-weight: bold;
      }
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  &.link {
    text-decoration: none;
    color: #5fc7d1;
  }
}
.serviceEntreprise{
	
    width: 100%;
    max-width: 371px;
    /*padding: widthCalc(20);*/
    margin-top: widthCalc(20);
	min-height: calc(380vw / 17.51);
    @media (max-width: $table-width-for-hide) {
      width: 100%;
      .font20 {
        font-size: 18px;
        font-weight: bold;
      }
      padding-top: 18px;
      padding-bottom: 18px;
    }
  
}
.serviceEntreprise1{
	
    width: 100%;
    max-width: 371px;
    /*padding: widthCalc(20);*/
    /*margin-top: widthCalc(20);
	min-height: calc(380vw / 17.51);*/
    @media (max-width: $table-width-for-hide) {
      width: 100%;
      .font20 {
        font-size: 18px;
        font-weight: bold;
      }
    }
  
}

#masthead {
  .site-branding {
    padding: widthCalc(20) 0px widthCalc(20);
	text-align: center;
    > a {
      display: flex;
      justify-content: center;
    }
	img{

	}
  }
  #sideMenu > ul > li > a {
    font-size: widthCalc(16);
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-weight: normal;
  }
    .main-navigation
	#primary-menu{
		display:inline-block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		>li {
		padding: 0px calc(11vw/13) 10px;
		a{
			font-size: widthCalc(14);
			text-transform:uppercase;
			color:#000;
			text-align: left;
		&:hover,
		&:focus,
		&:active {
			color: #FFB71B;
			text-decoration:none;
		}
		}
		}
}
.current_page_item a{
	font-weight: 600;
}
 
  #sideMenu {
    width: initial;
    a {
      text-transform: uppercase;
      padding: widthCalc(13) widthCalc(20) widthCalc(13) widthCalc(40);
    }
    .menu-item-has-children {
      position: relative;
      .arrow {
        position: absolute;
        height: calc(65vw / 17.51);
        top: -4px;
        right: 0;
        width: calc(45vw / 17.51);
        cursor: pointer;
      }
      > .arrow:before {
        background: url('/wp-content/themes/skull-rive/assets/arrow.png');
        content: " ";
        padding-left: widthCalc(24);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: widthCalc(12);
        position: absolute;
        right: widthCalc(11);
        top: widthCalc(23);
        transform: rotate(-90deg);
        transition: .3s all;
      }

      &.active {
        > .arrow:before {
          transform: rotate(0deg);
        }
      }
    }
  }
}
.faq  .vc_toggle_title{
	padding-right:20px;
}

.articlePage{
	.singleImgArticle{
		padding-bottom:27px;
	}
	p{
		@include fontSize(18);
		font-family: 'Lato', sans-serif;
		color:#000;
		line-height:1.4;
	}
	
  .entry-header{
    display: flex;
    h1,h2{
      margin-top: 0px;
      line-height:1.2;
      margin-bottom: 0px;
    }
    .author{
      @extend %font18;
    }
  }
.post {
	 .entry-meta {
   	 	width: 100%;
    	float: left;
    	margin-bottom: 12px;
   		display: flex;
	}
}
  .shareSocial{
    display: flex;
    width: max-content;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;
    .links{
      .fa{
        color:$colorTheme;
        font-size: 26px;
        padding: 0px 8px;
        &:first-child{
          padding-left: 16px;
        }

      }
    }
  }
  .stats{
    padding-top: 14px;
    span{
      padding-left: 5px;
      padding-right: 17px;
    }
  }
  .widget.widget_categories{}
  .comment-form{
    .btn-theme{
      width: auto;
      cursor: pointer;
    }
  }
}
.contact{
	padding-right: 20px;
	input, select{
		border: 1px solid #343e47 !important;
 		background: #fff;
		color:#343e47 !important;
	}
}
#tracking{
	list-style:none;
	display:inline;
	li{
		float:left;
		margin:5px 2px;
	}
}
.posfixb{
	position: absolute; 
	bottom: 1vw;
}
@media (max-width: $table-width-for-hide) {
	.contentSlider{
		display:none;
	}
	.servicex {
    margin-top: 20px !important;
    }
	.servicex.link{
		position:relative;
	}
	.mobilepadd{
    margin-left:50px;
	margin-right:50px;
}

}
@media (max-width: 1439px) {
.carousel .carousel-item > img{
	height:auto;
}
}
.gr{
	color:#404040;
	text-decoration:none;
	&:visited{
		color:#404040;
	}
}
.ctur a{
	color:#5fc7d1;
	text-decoration:none;
	&:visited{
		color:#5fc7d1;
	}
}
  .sideblocks .contactform {
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {
      border:none;
    }
  }
    .contactform{
	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"],    input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select{
		padding:calc(17px / 1366 * 1366) calc(45px / 1366 * 1366)  !important;
		width:100%;
		color:#7A6E66;
		border:1px solid #7A6E66;
		::placeholder{
			color: #7A6E66 !important ;
		}
	}
	.rnom{
		background: url(/wp-content/uploads/2018/07/Groupe-353.png) no-repeat 13px;
	}
	.rtel{
		background: url(/wp-content/uploads/2018/07/Groupe-356.png) no-repeat 13px;
	}
	.remail{
		background: url(/wp-content/uploads/2018/07/enveloppe.png) no-repeat 13px;
	}
	.rdate{
		background: url(/wp-content/uploads/2018/07/Groupe-354.png) no-repeat 13px;
	}
	.rheure{
		background: url(/wp-content/uploads/2018/07/Groupe-355.png) no-repeat 13px;
	}
	input::placeholder{
			color:#7A6E66;
		}
	input[type="submit"]{
		width:auto;
		height:auto;
		padding:calc(8px / 1366 * 1366) calc(65px / 1366 * 1366) !important;
		font-weight:400;
		cursor:pointer;
	}
	input[type="radio"]{
		width:20px;
		height:20px;
		background:none;
		position: relative;
    	top: 3px;
	}
	.wpcf7-list-item-label{
		padding-bottom:5px;
	}
	.vc_col-sm-6{
		margin:0;
		padding:0;
	}
	p{
		margin:0
	}
	span.wpcf7-list-item{
		margin:0;
	}
	span.wpcf7-list-item.last{
		margin-left:35px;
	}
	.wpcf7-radio{
		margin: 20px 0;
    	display: inline-block;
	}
}
/****************************/
body.brz-ed {
    background-color: #fff !important;
}
.brz .brz-slick-slider .brz-icon-svg,.brz .brz-slick-slider .brz-rich-text *{white-space: pre-line;display: flex;}
.brz-slick-slider__arrow .brz-icon-svg{width:50px !important;height:auto !important;}
.brz .brz-mt-lg-34 {
    margin-top: 18px!important;
}
.imgfullwidth, .imgfullwidth figure, .imgfullwidth figure div, .imgfullwidth figure div img {
    width: 100%;
    margin-bottom: 0 !important;
}
/*********** blog page ********/
.blogPage{
	.list{
		.article{
			border-bottom: 1px solid rgba(122, 110, 102, 0.21);
			margin-bottom:40px;
			.entry-meta{
				width: 100%;
    			float: left;
    			margin-bottom: 20px;
				display: flex;
			}
		}
	}
	h2{
		font-family: 'Lato', sans-serif;
		color:#000;
		font-weight:300;
	}
	.img{
		img{
			width:100%
		}
	}
}
.blogPageSidebar{
	.articleSidebar{	
			border-bottom: 1px solid rgba(122, 110, 102, 0.21);
			margin-bottom:20px;
			float:left;
			h3{
				line-height:1.1;
				color:#000;
				margin-bottom:5px;
			}
			p{
				margin:5px 0;
			}
			.vc_col-sm-4{
				padding-left:0;
			}
			.entry-meta{
				width: 100%;
    			float: left;
    			margin-bottom: 20px;
				display: flex;
			}
		}
	h2{
		border-bottom: 1px solid rgba(122, 110, 102, 0.3);
		border-top: 1px solid rgba(122, 110, 102, 0.3);
		padding:15px 0;
		margin-bottom:25px;
	}
}
.catSidebar{
	padding-bottom:25px;
	h2{
		border-bottom: 1px solid rgba(122, 110, 102, 0.3);
		border-top: 1px solid rgba(122, 110, 102, 0.3);
		padding:15px 0;
		line-height:1;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #7A6E66;
		@include fontSize(18);
	}
	ul{
		padding: 0;
   		list-style: none;
		li{
			a{
				color:#000;
				line-height:1;
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				@include fontSize(18);
				line-height: 1.7;
			}
		}
	}
}
.searchSidebar{
	input.uk-width-1-1{
		border: 1px solid #7A6E66 !important;
    	border-radius: 0 !important;
   		background: transparent !important;
    	height: 40px !important;
		line-height:1;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		@include fontSize(16);
		color: #7A6E66 !important;
		padding:0 10px !important;
		margin:0 0 10px 0 !important;
		cursor:pointer;
	}
	.uk-icon-search{
		    width: 17% !important;
			font-size: 23px !important;
			position: absolute !important;
			left: calc(83%) !important;
			top: 8px !important;
			font-weight: 100 !important;
			color: #fff !important;
			background: #7A6E66 !important;
			height: 38px !important;
    		padding: 5px 0;
    		cursor: pointer;
	}
}
	
.dateArticle{
	min-width:76px;
	min-height:76px;
	border-radius:50%;
	float:left;
	margin-right:30px;
	background:#FFB71B;
	text-align:center;
	padding: 12px 18px;
	color:#fff;
	font-family: 'Lato', sans-serif;
	line-height:1;
	 display: inline-table;
	
}
.titleArticle{
	float:left;
}
.author{
	color:#7A6E66 !important;
}
.except{
	margin-top:27px;
	margin-bottom:22px;
	line-height: normal;
}
.lireplus{
	margin-bottom:35px;
	a{
		color:#000;
	}
}
.share{
	margin-left:20px;
	a{
		color:#000;
		margin: 0 5px;
		svg{
			max-width:17px;
			height:auto;
		}
	}
}
.paginationBlog{
	.pagination{
		.nav-links{
			text-align:center;
			.page-numbers{
				font-family: 'Lato', sans-serif;
				font-size:16px;
				padding:2px 8px;
				border:1px solid rgba(122, 110, 102, 0.36);
				border-radius:50%;
				color: rgba(122, 110, 102, 0.36);
				&:hover{
					color: #7A6E66;
					border:1px solid #7A6E66;
				}
			}
			.page-numbers.current{
				color: #7A6E66;
				border:1px solid #7A6E66;
				cursor:pointer;
			}
			.next{
				display:none;
			}
			.prev{
				display:none;
			}
		}
	}
}
.single-post article{
	padding-bottom:25px;
	margin-bottom:35px;
	border-bottom:1px solid rgba(122, 110, 102, 0.3);
}
.search, .archive{
	h1,h2{
		line-height:1.2;
	}
}
.formiti{
	input{
		color:#7A6E66;
		border:1px solid #7A6E66;
		width:100%;
		::placeholder{
			color:#7A6E66;
		}
	}
	input::placeholder{
			color:#7A6E66;
		}
	button{
		width: auto;
		height: auto;
		padding: calc(10px / 1366 * 1366) calc(30px / 1366 * 1366) !important;
		font-weight: 400;
		cursor: pointer;
	}
}
.breadcrumb{
	color:#7A6E66;
	a{
		color:#7A6E66;
		font-family: 'Lato', sans-serif;
		@include fontSize(16);
		margin-right:5px;

		&:visited{
			color:#7A6E66;
		}
		&:hover{
			color:#7A6E66;
		}
	}
	.breadcrumb_last{
		font-weight:700;
		font-family: 'Lato', sans-serif;
		@include fontSize(16);
		margin-left:5px;
	}
}
.vc_toggle_active .vc_toggle_title h4{
	color:#FFB71B;
}
.vc_toggle {
	position:relative;
	left:-20px;
	.vc_toggle_title>h4 {
		padding-right: 20px;
		@include fontSize(18);
		font-weight:400;
		font-family: 'Lato', sans-serif;
		line-height: 1.2;
	}
	.faq.faqPage .vc_toggle_title .vc_toggle_icon {
		position: absolute;
		top: 7px;
	}
	 @media (max-width: $table-width-for-hide) {
			position:inherit;
			left:0;
	 }
}

.imgfullwidth {
	width:100%;
	figure{
		width:100%;
		a{
			width:100%;
			img{
				width:100%;
			}
		}
	}
}
.brz-rich-text{
	p{
		white-space:pre-line;
		span{
			white-space:pre-line;
		}
	}
}
.css-c7obq1, [data-css-c7obq1], .css-c7obq1, [data-css-c7obq1]{
	width:100%;
	padding:0;
}
.css-1tr7msa, [data-css-1tr7msa],.css-43882k, [data-css-43882k]{
	max-width:1088px !important;
}
.bgLeif {
    background: url(/wp-content/themes/beans-theme/assets/images/bgleif.jpg) no-repeat center top !important; 
    background-size: 1182px !important;
    background-position: calc(50vw - 544px) 0px !important;
}
.css-1061yym{
	b{
		font-weight:500;
	}
}
.serviceHP:hover{
	color:#FFB71B;
	cursor:pointer;
	font-weight:bold;
    white-space: nowrap;
    padding-bottom: 11px;
    margin-bottom: 0;
    border-bottom: 4px solid #FFB71B;
}
.formulaire li{
    border-bottom: 1px solid rgba(122, 110, 102, 0.3);
}

.underslider{
  .padding.ptop30{
    padding-top: 30px;
  }
  .width60p100{
    width: 65%;
  }
  .vc_custom_heading {
    margin:0;
  }
}
div.pp_pic_holder {
  position: fixed !important;
  top: 5% !important;
}
@media (max-width: $table-width-for-hide) {
  .margin {
    &.mleft8 {
      margin-left: 0 !important;
    }
    &.mright8 {
      margin-right: 0 !important;
    }
  }

  .marginInner {
    &.mleft8 {
      > .vc_column-inner {
        margin-left: 0px !important;
      }
    }
    &.mright8 {
      > .vc_column-inner {
        margin-right: 0px !important;
      }
    }
  }
  .padding.ptop60 {
    padding-top: 20px !important;
  }
  .minHImg{
    .vc_column-inner{
      min-height: 250px;
    }
  }

}


	 
	
