.site-content {
  @media (min-width: $table-width-for-hide) {
    padding-left: widthCalc(310);
  }
}

.entry-content {
  margin: 0px;
}

.vc_row {
  margin: 0px !important;

  *:not(.important) > .vc_column-inner {

    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    > .wpb_wrapper {
      height: auto;
    }
  }
  .important > .vc_column-inner {
    > .wpb_wrapper {
      height: initial;
    }
  }
  .overRidePadding > .vc_column-inner {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .grayBG {
    background: #343e47;
  }
  .wpb_content_element {
    margin-bottom: 0px !important;
  }
  .wpb_text_column{
    @media (max-width: $table-width-for-hide) {
      padding-bottom: 18px;
    }
  }
    //flex
  .flexInner {
    height: inherit;
    .vc_column-inner {
      display: flex;
      height: inherit;
      .wpb_wrapper {
        height: initial;
      }
    }
    &.centerY {
      .vc_column-inner {
        justify-content: center;
      }
    }

    &.centerX {
      .vc_column-inner {
        align-items: center;
      }
    }
  }

}

.hentry {
  margin: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0.7em;
}
html{
	color:#000000;
}
body {
  font-family: lato;
  font-weight: 400;
  @extend %font18;
}

.form {
  padding: widthCalc(34);

}

input, select {
    margin-bottom: widthCalcFixedSize(18) !important;
    height: widthCalcFixedSize(60) ;
    padding: widthCalcFixedSize(17) !important;
}
h1{
	font-family:Lato, sans-serif !important;
	color:#000 !important;
	font-weight: 300 !important;
	margin: 0 !important;
}
input::placeholder,textarea::placeholder {
	color:#000;
}
h1, h2, h3, h4, h5, h6{
	color:#000;
}
	

		