
.colorTheme {
  color: #FFB71B;
}
.brown{
	color: #7A6E66;
}
.textbgeff9fa{
	background-color:#eff9fa;
}

.light {
  font-weight: 300;
}

.textJustify{
	text-align:justify;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.upperCase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.white {
  color: #fff;
  &:visited,
  &:hover{
    color: #fff;
  }
  em{
    color: #fff;
  }
}
.black{
	color:#000 !important;
}
.flexEnd{
	justify-content: flex-end;
}
.lato{
	font-family: 'Lato', sans-serif;
}
.underline{
	text-decoration:underline;
}
.line-height1p7{
    line-height: 1.7;
}
.number li{
    list-style: decimal;
    list-style-position: outside;
    line-height: 1.5;
    padding-left: 5px;
}
/*****************************/
.padding15xr {
  		padding-right: widthCalc(15) !important;
		@media (max-width: $table-width-for-hide) {
      		padding-right: 0px !important;
			padding-bottom: 20px;
    }
}
.padding15xl {
  		padding-left: widthCalc(15) !important;
		@media (max-width: $table-width-for-hide) {
      		padding-left: 0px !important;
			padding-bottom: 20px;
    }
}
.padding15y {
  @include paddingTop(15);
  @include paddingBottom(15);
}

.padding20yt {
  @include paddingTop(20);
}
.margin20yb {
  margin-bottom: widthCalc(20);
}
.padding25xr {
  		padding-right: widthCalc(25) !important;
		@media (max-width: $table-width-for-hide) {
      		padding-right: 0px !important;
			padding-bottom: 20px;
    }
}
.padding25yb {
  @include paddingBottom(25);
}
.padding40xr {
  		padding-right: widthCalc(40) !important;
		@media (max-width: $table-width-for-hide) {
      		padding-right: 0px !important;
			padding-bottom: 20px;
    }
}
.padding150x {
  		padding-right: widthCalc(200) !important;
		padding-left: widthCalc(200) !important;
		@media (max-width: $table-width-for-hide) {
      		padding-right: 0px !important;
			padding-left: 0px !important;
			padding-bottom: 20px;
    }
}
.margin30yt {
  padding-top: widthCalc(30);
}
.padding30yt {
  @include paddingTop(30);
}
.padding48yt {
  @include paddingTop(48);
}
.padding48yb {
  @include paddingBottom(48);
}
.padding60yt {
  @include paddingTop(60);
}
.padding60yb {
   padding-bottom: widthCalc(60);
}
.padding100yt {
  @include paddingTop(100);
}
.padding100yb {
  @include paddingBottom(100);
}
.padding105x {
  padding-left: widthCalc(105);
  padding-right: widthCalc(105);
  @media (max-width: $table-width-for-hide) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.padding108xr {
  padding-right: widthCalc(108) !important;
  @media (max-width: $table-width-for-hide) {
    padding-left: 55px;
    padding-right: 55px !important;
    text-align: center;
  }
}
.padding138x {
  padding-left: widthCalc(138);
  padding-right: widthCalc(138);
  @media (max-width: $table-width-for-hide) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.padding138xl {
  padding-left: widthCalc(138);
  @media (max-width: $table-width-for-hide) {
    padding-left: 20px;
  }
}
.padding148x {
  padding-left: widthCalc(145);
  padding-right: widthCalc(145);
  @media (max-width: $table-width-for-hide) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.padding153x {
  padding-left: widthCalc(153);
  padding-right: widthCalc(153);
  @media (max-width: $table-width-for-hide) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.padding165xr {
  padding-right: widthCalc(165);
  @media (max-width: $table-width-for-hide) {
    padding-right: 20px;
  }
}
.padding175xl {
  padding-left: widthCalc(176) !important;
  @media (max-width: $table-width-for-hide) {
    padding-left: 55px !important;
    padding-right: 55px;
    text-align: center;
  }
}
.padding222xr {
  padding-right: widthCalc(222) !important;
  @media (max-width: $table-width-for-hide) {
    padding-left: 55px ;
    padding-right: 55px !important;
    text-align: center;
  }
}
.padding230x {
  padding-left: widthCalc(230);
  padding-right: widthCalc(230);
  @media (max-width: $table-width-for-hide) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.padding215x {
  padding-left: widthCalc(215);
  padding-right: widthCalc(215);
  @media (max-width: $table-width-for-hide) {
    padding-left: 20px;
    padding-right: 20px;
  }
}


/*****************************/

.min-height350 {
  min-height: 350px !important;
}

.min-height300 {
  min-height: 300px !important;
}

.min-height250 {
  min-height: 250px !important;
}

.padding130x {
  padding-left: widthCalc(130);
  padding-right: widthCalc(130);
}


.padding20y {
  @include paddingTop(20, !important);
  @include paddingBottom(20, !important);
}

.padding20 {
  padding: widthCalc(20) !important;
  @media (max-width: $desktop-width) {
    padding: 20px !important;
  }
}

.padding130xl {
  padding-left: widthCalc(130) !important;
}

.padding130xr {
  padding-right: widthCalc(130) !important;
}
.padding110xr {
  padding-right: widthCalc(110) !important;
}
.margin50xr {
	.vc_column-inner{
  		margin-right: widthCalc(50) !important;
		@media (max-width: $table-width-for-hide) {
      		margin-right: 0px !important;
			margin-bottom: 20px;
    }
	}
}


.padding45yt {
  @include paddingTop(45);
}

.padding45yb {
  @include paddingBottom(45);
}


.line-height28 {
  line-height: widthCalc(28);
  @media (max-width: $desktop-width) {
    line-height: 28px;
  }
}

.padding40xl {
  padding-left: widthCalc(40) !important;
}

.padding40xr {
  padding-right: widthCalc(40) !important;
}


.margin10x {
  .vc_column-inner {
    margin-left: 10px;
    margin-right: 10px;
    @media (max-width: $table-width-for-hide) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.margin10xr {
  .vc_column-inner {
    margin-right: 10px;
    @media (max-width: $table-width-for-hide) {
      margin-right: 0px;
    }
  }
}

.margin10xl {
  .vc_column-inner {
    margin-left: 10px;
    @media (max-width: $table-width-for-hide) {
      margin-left: 0px;
    }
  }
}

.margin50xr {
  .vc_column-inner {
    margin-right: 50px;
    @media (max-width: $table-width-for-hide) {
      margin-right: 0px;
    }
  }
}

.margin90xr {
  .vc_column-inner {
    margin-right: 90px;
    @media (max-width: $table-width-for-hide) {
      margin-right: 0px;
    }
  }
}

.margin20y{
  margin-top:20px!important;
  margin-bottom:20px!important;
}

.padding20ytm{
  @media (max-width: $table-width-for-hide) {

    padding-top: 20px;
  }
}
.padding20xr {
    padding-right: 20px;
    @media (max-width: $table-width-for-hide) {
      padding-right: 0px;
  }
}

.noMargin {
  &.top {
    margin-top: 0px;
  }
  &.bottom {
    margin-bottom: 0px;
  }
  &.left {
    margin-left: 0px;
  }
  &.right {
    margin-right: 0px;
  }
}

.noPaddingMobile{
  @media (max-width: $table-width-for-hide) {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 10px !important;
    &.top{
      padding-top: 0px;
    }
  }
}
.noPaddingTopMobile{
  @media (max-width: $table-width-for-hide) {
    padding-top: 0 !important;
  }
}
.mobileCenter{
  @media (max-width: $table-width-for-hide) {
    text-align: center !important;
  }
  .wpb_single_image.vc_align_left{
    text-align: center;
  }
}

.reverseCol {
  @media (max-width: $table-width-for-hide) {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.forceTextLeftMobile{
  @media (max-width: $table-width-for-hide) {
    p{
      text-align: left!important;
    }
  }
}
@media (max-width: $table-width-for-hide) {
.nomobile{
	display:none;
}
}
@media (max-width: $table-width-for-hide) {
  h1,h2,h3,h4,h5,h6{
    padding:0 20px;
  }
  .padding20xm{
    padding:0 20px !important;
  }
}