.padding{
  @for $i from 1 through 32 {

    // for each $col_#{i}
    &.ptop#{$i*5} {
      padding-top:  #{$i*5}px;
    }
  }
  @for $i from 1 through 8 {

    // for each $col_#{i}
    &.pleft#{$i*5} {
      padding-left:  #{$i*5}px;
    }
  }
  @for $i from 1 through 8 {

    // for each $col_#{i}
    &.pright#{$i*5} {
      padding-right:  #{$i*5}px;
    }
  }
  @for $i from 1 through 14 {

    // for each $col_#{i}
    &.pbottom#{$i*5} {
      padding-bottom:  #{$i*5}px;
    }
  }
  @media (min-width: 1367px) {
    @for $i from 1 through 32 {

      // for each $col_#{i}
      &.ptop#{$i*5} {
        padding-top:calc(#{$i*5}vw / 13.66);
      }
    }
    @for $i from 1 through 8 {

      // for each $col_#{i}
      &.pleft#{$i*5} {
        padding-left:  calc(#{$i*5}vw / 13.66);
      }
    }
    @for $i from 1 through 8 {

      // for each $col_#{i}
      &.pright#{$i*5} {
        padding-right:  calc(#{$i*5}vw / 13.66);
      }
    }
    @for $i from 1 through 14 {

      // for each $col_#{i}
      &.pbottom#{$i*5} {
        padding-bottom:  calc(#{$i*5}vw / 13.66);
      }
    }
  }
}