$desktop-width: 1366px;
$table-width: 768px;
$table-width-for-hide: 767px;
$mobile-width: 425px;
$colorTheme: #5fc7d1;

@function widthCalc($int) {
  //13.66 stand for 1366px resolution of PSD
  //@return calc(#{$int}vw / 13.66);
  @return #{$int}px;
}

@function widthCalcFixedSize($int,$divided:1080) {
  //13.66 stand for 1366px resolution of PSD
  //@return calc(#{$int}px / 1366 * #{$divided});
  @return #{$int}px;
}


@mixin paddingTop($int,$important:"") {

  padding-top: #{$int}px;
  //padding-top: widthCalc($int) #{$important};
  //@media (max-width: $table-width) {
  //  padding-top: calc(#{$int}px / 1366 * 1080)#{$important};
  //}

}

@mixin paddingBottom($int,$important:"") {
  padding-bottom: #{$int}px;
  //padding-bottom: widthCalc($int) #{$important};
  //@media (max-width: $table-width) {
  //  padding-bottom: calc(#{$int}px / 1366 * 1080) #{$important};
  //}
}

@mixin fontSize($int) {
  //font-size: widthCalcFixedSize($int);
  //@media (min-width: $desktop-width) {
  //  font-size: widthCalc($int);
  //}
  //@media (max-width: $table-width) {
  //@if($int>24) {
  //  font-size: 24px;
  //  margin-top: 18px;
  //}
  //@if($int<24 and $int>17) {
  //  font-size: 14px;
  //}
  //@if($int<17) {
  //  font-size: 12px;
  //}
    //font-size: calc(#{$int}px / 1366 * 1080);
  //}
  font-size: #{$int}px;
}

%font50 {
  @include fontSize(50);
   @media (max-width: $table-width) {
	   font-size:30px;
   }
}

%font45 {
  @include fontSize(45);
}

%font40 {
  @include fontSize(40);
  line-height:1.2;
}

%font36 {
  @include fontSize(36);
  line-height:1.2;
}

%font33 {
  @include fontSize(33);
  line-height:1.2;
}

%font30 {
  @include fontSize(30);
}

%font24 {
  @include fontSize(24);
   @media (max-width: $desktop-width) {
	   font-size:24px;
   }
}

%font25 {
  @include fontSize(25);
}

%font20 {
  @include fontSize(20);
}

%font22 {
  @include fontSize(22);
}

%font18 {
  @include fontSize(18);
}

%font17 {
  @include fontSize(16.3);
}


%font16 {
  @include fontSize(16);
}

%font15 {
  @include fontSize(15);
}

%font14 {
  @include fontSize(14);
}

.font50 {
  @extend %font50;
  line-height:1;
}

.font45 {
  @extend %font45;
}

.font40 {
  @extend %font40;
}

.font36 {
  @extend %font36;
}

.font33 {
  @extend %font33;
}

.font30 {
  @extend %font30;
}

.font24 {
  @extend %font24;
}

.font25 {
  @extend %font25;
}

.font22 {
  @extend %font22;
}

.font20 {
  @extend %font20;
}

.font18 {
  @extend %font18;
}

.font17 {
  @extend %font17;
}

.font16 {
  @extend %font16;
}

.font15 {
  @extend %font15;
}

.font14 {
  @extend %font14;
}
