/*
Theme Name: beans-theme
Theme URI: https://www.getbeans.io/themes/beans/
Author: beans-theme
Author URI: https://www.getbeans.io
Description: The most innovative theme for WordPress. The real magic is under the hood.
Version: 1.5.0-beta
Text Domain: tm-beans
Tags: white, light, one-column, two-columns, three-columns, right-sidebar, left-sidebar, responsive-layout, fluid-layout, fixed-layout, custom-header, custom-background, custom-menu, editor-style, featured-images, microformats, post-formats, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/* The CSS below is added to align to WordPress theme automatic checker.
 * The actual CSS is situated in the style.less file.
 ========================================================================== */
.font50 {
  font-size: calc(50px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font50 {
      font-size: calc(50vw / 17.51); } }
  @media (max-width: 768px) {
    .font50 {
      font-size: 24px;
      margin-top: 18px; } }

.font45 {
  font-size: calc(45px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font45 {
      font-size: calc(45vw / 17.51); } }
  @media (max-width: 768px) {
    .font45 {
      font-size: 24px;
      margin-top: 18px; } }

.font40 {
  font-size: calc(40px / 1751 * 1366);
  line-height: 1.2; }
  @media (min-width: 1366px) {
    .font40 {
      font-size: calc(40vw / 17.51); } }
  @media (max-width: 768px) {
    .font40 {
      font-size: 24px;
      margin-top: 18px; } }

.font33 {
  font-size: calc(33px / 1751 * 1366);
  line-height: 1.2; }
  @media (min-width: 1366px) {
    .font33 {
      font-size: calc(33vw / 17.51); } }
  @media (max-width: 768px) {
    .font33 {
      font-size: 24px;
      margin-top: 18px; } }

.font30, .articlePage .dateArticle .day {
  font-size: calc(30px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font30, .articlePage .dateArticle .day {
      font-size: calc(30vw / 17.51); } }
  @media (max-width: 768px) {
    .font30, .articlePage .dateArticle .day {
      font-size: 24px;
      margin-top: 18px; } }

.font25 {
  font-size: calc(25px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font25 {
      font-size: calc(25vw / 17.51); } }
  @media (max-width: 768px) {
    .font25 {
      font-size: 24px;
      margin-top: 18px; } }

.font20 {
  font-size: calc(20px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font20 {
      font-size: calc(20vw / 17.51); } }
  @media (max-width: 768px) {
    .font20 {
      font-size: 14px; } }

.font22 {
  font-size: calc(22px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font22 {
      font-size: calc(22vw / 17.51); } }
  @media (max-width: 768px) {
    .font22 {
      font-size: 14px; } }

.font18, body, .articlePage .entry-header .author, .articlePage .widget.widget_categories .widget-title, .articlePage .widget.widget_categories a {
  font-size: calc(18px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font18, body, .articlePage .entry-header .author, .articlePage .widget.widget_categories .widget-title, .articlePage .widget.widget_categories a {
      font-size: calc(18vw / 17.51); } }
  @media (max-width: 768px) {
    .font18, body, .articlePage .entry-header .author, .articlePage .widget.widget_categories .widget-title, .articlePage .widget.widget_categories a {
      font-size: 14px; } }

.font17 {
  font-size: calc(16.3px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font17 {
      font-size: calc(16.3vw / 17.51); } }
  @media (max-width: 768px) {
    .font17 {
      font-size: 12px; } }

.font16, .site-footer .widget_nav_menu ul a {
  font-size: calc(16px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font16, .site-footer .widget_nav_menu ul a {
      font-size: calc(16vw / 17.51); } }
  @media (max-width: 768px) {
    .font16, .site-footer .widget_nav_menu ul a {
      font-size: 12px; } }

.font15, .articlePage .dateArticle .month {
  font-size: calc(15px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font15, .articlePage .dateArticle .month {
      font-size: calc(15vw / 17.51); } }
  @media (max-width: 768px) {
    .font15, .articlePage .dateArticle .month {
      font-size: 12px; } }

.font14 {
  font-size: calc(14px / 1751 * 1366); }
  @media (min-width: 1366px) {
    .font14 {
      font-size: calc(14vw / 17.51); } }
  @media (max-width: 768px) {
    .font14 {
      font-size: 12px; } }

@media (min-width: 767px) {
  .site-content {
    padding-left: calc(310vw / 17.51); } }

.entry-content {
  margin: 0px; }

.vc_row {
  margin: 0px !important; }
  .vc_row *:not(.important) > .vc_column-inner {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }
    .vc_row *:not(.important) > .vc_column-inner > .wpb_wrapper {
      height: 100%; }
  .vc_row .important > .vc_column-inner > .wpb_wrapper {
    height: initial; }
  .vc_row .overRidePadding > .vc_column-inner {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .vc_row .grayBG {
    background: #343e47; }
  .vc_row .wpb_content_element {
    margin-bottom: 0px !important; }
  @media (max-width: 767px) {
    .vc_row .wpb_text_column {
      padding-bottom: 18px; } }
  .vc_row .flexInner {
    height: inherit; }
    .vc_row .flexInner .vc_column-inner {
      display: flex;
      height: inherit; }
      .vc_row .flexInner .vc_column-inner .wpb_wrapper {
        height: initial; }
    .vc_row .flexInner.centerY .vc_column-inner {
      justify-content: center; }
    .vc_row .flexInner.centerX .vc_column-inner {
      align-items: center; }

.hentry {
  margin: 0px; }

p {
  margin-top: 0px;
  margin-bottom: 0.7em; }

body {
  font-family: "Open Sans", Open Sans, sans-serif;
  font-weight: 400; }

.form {
  padding: calc(34vw / 17.51); }

input, select {
  margin-bottom: calc(18vw / 17.51) !important;
  height: calc(60vw / 17.51);
  padding: calc(17vw / 17.51) !important;
  border: none !important;
  background: #eff9fa;
  width: 100%; }
  @media (max-width: 1366px) {
    input, select {
      margin-bottom: calc(18px / 1751 * 1366) !important;
      height: calc(60px / 1751 * 1366);
      padding: calc(17px / 1751 * 1366) !important; } }

.colorTheme {
  color: #5fc7d1; }

.textbgeff9fa {
  background-color: #eff9fa; }

.light {
  font-weight: 300; }

.textJustify {
  text-align: justify; }

.regular {
  font-weight: 400; }

.semi-bold {
  font-weight: 600; }

.upperCase {
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

.white {
  color: #fff; }

.min-height350 {
  min-height: 350px !important; }

.min-height300 {
  min-height: 300px !important; }

.min-height250 {
  min-height: 250px !important; }

.padding130x {
  padding-left: calc(130vw / 17.51);
  padding-right: calc(130vw / 17.51); }

.padding60x {
  padding-left: calc(60vw / 17.51);
  padding-right: calc(60vw / 17.51); }

.padding20x {
  padding-left: calc(20vw / 17.51) !important;
  padding-right: calc(20vw / 17.51) !important; }

.padding20y {
  padding-top: calc(20vw / 17.51) !important;
  padding-bottom: calc(20vw / 17.51) !important; }
  @media (max-width: 768px) {
    .padding20y {
      padding-top: calc(20px / 1751 * 1366)!important; } }
  @media (max-width: 768px) {
    .padding20y {
      padding-bottom: calc(20px / 1751 * 1366) !important; } }

.padding20 {
  padding: calc(20vw / 17.51) !important; }
  @media (max-width: 1366px) {
    .padding20 {
      padding: 20px !important; } }

.padding130xl {
  padding-left: calc(130vw / 17.51) !important; }

.padding130xr {
  padding-right: calc(130vw / 17.51) !important; }

.padding110xr {
  padding-right: calc(110vw / 17.51) !important; }

.margin50xr .vc_column-inner {
  margin-right: calc(50vw / 17.51) !important; }
  @media (max-width: 767px) {
    .margin50xr .vc_column-inner {
      margin-right: 0px !important;
      margin-bottom: 20px; } }

.padding60y {
  padding-top: calc(60vw / 17.51) ;
  padding-bottom: calc(60vw / 17.51) ; }
  @media (max-width: 768px) {
    .padding60y {
      padding-top: calc(60px / 1751 * 1366); } }
  @media (max-width: 768px) {
    .padding60y {
      padding-bottom: calc(60px / 1751 * 1366) ; } }

.padding60yt {
  padding-top: calc(60vw / 17.51) ; }
  @media (max-width: 768px) {
    .padding60yt {
      padding-top: calc(60px / 1751 * 1366); } }

.padding45yt {
  padding-top: calc(45vw / 17.51) ; }
  @media (max-width: 768px) {
    .padding45yt {
      padding-top: calc(45px / 1751 * 1366); } }

.padding45yb {
  padding-bottom: calc(45vw / 17.51) ; }
  @media (max-width: 768px) {
    .padding45yb {
      padding-bottom: calc(45px / 1751 * 1366) ; } }

.padding60yb {
  padding-bottom: calc(60vw / 17.51) ; }
  @media (max-width: 768px) {
    .padding60yb {
      padding-bottom: calc(60px / 1751 * 1366) ; } }

.line-height28 {
  line-height: calc(28vw / 17.51); }
  @media (max-width: 1366px) {
    .line-height28 {
      line-height: 28px; } }

.padding50y {
  padding-top: calc(60vw / 17.51) ;
  padding-bottom: calc(60vw / 17.51) ; }
  @media (max-width: 768px) {
    .padding50y {
      padding-top: calc(60px / 1751 * 1366); } }
  @media (max-width: 768px) {
    .padding50y {
      padding-bottom: calc(60px / 1751 * 1366) ; } }

.padding40x {
  padding-left: calc(40vw / 17.51);
  padding-right: calc(40vw / 17.51); }

.padding40xl {
  padding-left: calc(40vw / 17.51) !important; }

.padding40xr {
  padding-right: calc(40vw / 17.51) !important; }

.padding60xr {
  padding-right: calc(60vw / 17.51) !important; }

.margin10x .vc_column-inner {
  margin-left: 10px;
  margin-right: 10px; }
  @media (max-width: 767px) {
    .margin10x .vc_column-inner {
      margin-left: 0px;
      margin-right: 0px; } }

.margin10xr .vc_column-inner {
  margin-right: 10px; }
  @media (max-width: 767px) {
    .margin10xr .vc_column-inner {
      margin-right: 0px; } }

.margin10xl .vc_column-inner {
  margin-left: 10px; }
  @media (max-width: 767px) {
    .margin10xl .vc_column-inner {
      margin-left: 0px; } }

.margin15xr .vc_column-inner {
  margin-right: 15px; }
  @media (max-width: 767px) {
    .margin15xr .vc_column-inner {
      margin-right: 0px; } }

.margin20xr .vc_column-inner {
  margin-right: 20px; }
  @media (max-width: 767px) {
    .margin20xr .vc_column-inner {
      margin-right: 0px; } }

.margin20xri {
  margin-right: 20px; }
  @media (max-width: 767px) {
    .margin20xri {
      margin-right: 0px; } }

.margin20xl .vc_column-inner {
  margin-left: 20px; }
  @media (max-width: 767px) {
    .margin20xl .vc_column-inner {
      margin-left: 0px; } }

.margin70xr .vc_column-inner {
  margin-right: 70px; }
  @media (max-width: 767px) {
    .margin70xr .vc_column-inner {
      margin-right: 0px; } }

.margin90xr .vc_column-inner {
  margin-right: 90px; }
  @media (max-width: 767px) {
    .margin90xr .vc_column-inner {
      margin-right: 0px; } }

.margin20y {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

@media (max-width: 767px) {
  .padding20ytm {
    padding-top: 20px; } }

.padding20xr {
  padding-right: 20px; }
  @media (max-width: 767px) {
    .padding20xr {
      padding-right: 0px; } }

.noMargin.top {
  margin-top: 0px; }
.noMargin.bottom {
  margin-bottom: 0px; }
.noMargin.left {
  margin-left: 0px; }
.noMargin.right {
  margin-right: 0px; }

@media (max-width: 767px) {
  .noPaddingMobile.top {
    padding-top: 0px; } }

@media (max-width: 767px) {
  .reverseCol {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 18px;
    padding-bottom: 18px; } }

@media (max-width: 767px) {
  .forceTextLeftMobile p {
    text-align: left !important; } }

@media (max-width: 767px) {
  .nomobile {
    display: none; } }
.btn-theme {
  padding: calc(9vw / 17.51) calc(25vw / 17.51);
  font-size: calc(18vw / 17.51);
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  background: #5fc7d1;
  text-align: center; }
  .btn-theme.dark {
    background: #343e47;
    color: #fff;
    min-width: calc(160vw / 17.51); }
  @media (max-width: 1366px) {
    .btn-theme {
      padding: calc(9px / 1751 * 1366) calc(25px / 1751 * 1366);
      font-size: calc(18px / 1751 * 1366); }
      .btn-theme.dark {
        min-width: calc(160px / 1751 * 1366); } }
  .btn-theme.circle {
    min-width: initial;
    position: relative;
    border-radius: 100%;
    height: 47px;
    display: flex;
    width: 47px;
    align-items: center;
    padding-left: 14px; }
    @media (max-width: 1366px) {
      .btn-theme.circle {
        padding-left: 18px; } }
    .btn-theme.circle .out {
      position: absolute;
      top: 10px;
      width: 210px;
      text-align: left;
      padding-left: 45px; }

a.btn-theme {
  display: inline-block; }
  a.btn-theme:visited {
    color: #fff; }

.displayFlex > * > .wpb_wrapper {
  display: flex; }
.displayFlex.centery > * > .wpb_wrapper {
  align-items: center; }

.flexText.center {
  height: 100%;
  display: flex;
  align-items: center; }

.Pabsolute {
  position: absolute !important; }
  .Pabsolute.bottom {
    bottom: 0; }

.site-footer {
  background: #5fc7d1;
  height: calc(400vw / 17.51);
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .site-footer > .vc_row {
    width: 100%; }
  .site-footer .widget_nav_menu div > ul > li > ul {
    display: none; }
  .site-footer .widget_nav_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .site-footer .widget_nav_menu ul a {
      text-decoration: none;
      color: #fff; }
    .site-footer .widget_nav_menu ul > li {
      width: 45%;
      display: inline-block; }
  .site-footer .partenaires {
    height: calc(90vw / 17.51); }
    .site-footer .partenaires *:not(.vc_figure).wpb_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  .site-footer .iconLinks .wpb_wrapper {
    display: flex;
    align-items: center;
    justify-content: left; }
  @media (max-width: 767px) {
    .site-footer {
      padding-top: 30px;
      height: auto; }
      .site-footer .font16, .site-footer .widget_nav_menu ul a {
        font-size: 14px; }
      .site-footer .vc_separator {
        margin-bottom: 5px; }
      .site-footer .widget_nav_menu ul > li:nth-child(even) a {
        padding-left: 22px; }
      .site-footer .wpb_text_column {
        padding-bottom: 5px; }
      .site-footer br {
        display: none; }
      .site-footer .partenaires {
        height: auto; }
        .site-footer .partenaires *:not(.vc_figure).wpb_wrapper {
          flex-direction: column;
          align-items: left; }
        .site-footer .partenaires .wpb_single_image {
          padding-top: 10px;
          padding-bottom: 10px; }
      .site-footer .iconLinks .wpb_wrapper {
        display: flex;
        align-items: center;
        justify-content: center; } }

.carousel-slider {
  height: calc(874vw / 17.51); }
  .carousel-slider .btn-Slider {
    background: url("/wp-content/themes/skull-rive/assets/arrow.png") no-repeat;
    width: 24px;
    height: 12px;
    cursor: pointer;
    display: block; }
    .carousel-slider .btn-Slider.left {
      transform: rotate(90deg); }
    .carousel-slider .btn-Slider.right {
      transform: rotate(-90deg);
      margin-left: 35px; }
  .carousel-slider .btns {
    margin-left: calc(130vw / 17.51);
    margin-bottom: calc(40vw / 17.51);
    display: flex; }
    @media (max-width: 767px) {
      .carousel-slider .btns {
        float: right;
        margin-right: calc(130vw / 17.51); } }
  .carousel-slider .contentSlider {
    position: absolute;
    top: calc(500vw / 17.51);
    left: calc(130vw / 17.51);
    width: 60%;
    line-height: 1.3; }

.blueBg {
  background: #5fc7d1; }

.middleCover {
  height: calc(745vw / 17.51); }
  @media (max-width: 767px) {
    .middleCover {
      height: calc(548vw / 429 * 100); }
      .middleCover .vc_parallax-inner {
        height: 70% !important; }
      .middleCover .padding50y {
        padding-top: 20px;
        padding-bottom: 20px; } }

.windowHomepage {
  margin-top: calc(-140vw / 17.51); }
  .windowHomepage .title {
    height: calc(80vw / 17.51);
    padding-top: 8px; }
  @media (max-width: 1366px) {
    .windowHomepage {
      margin-top: calc(-140px / 1751 * 1366); }
      .windowHomepage .title {
        padding-top: 6px;
        height: calc(80px / 1751 * 1366); } }
  @media (max-width: 767px) {
    .windowHomepage {
    /*margin-top: calc(-60px / 1751 * 1366);

    margin-left: calc(-130vw / 17.51);
    margin-right: calc(-130vw / 17.51);
    margin-bottom: 18px;*/
      margin: 0;
      width: initial !important; }
      .windowHomepage .title {
        height: calc(90px / 1751 * 1366); } }

.widgetMailchimp {
  height: calc(300vw / 17.51) !important;
  background: #343e47; }
  .widgetMailchimp .mc4wp-form-fields {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .widgetMailchimp .mc4wp-form-fields input[type="submit"] {
      background: url(/wp-content/themes/skull-rive/assets/checkbox.png);
      background-color: #5fc7d1;
      background-repeat: no-repeat;
      background-position: center;
      width: calc(90vw / 17.51);
      border-radius: 0px 3px 3px 0px; }
    .widgetMailchimp .mc4wp-form-fields input[type="email"] {
      border-radius: 3px 0px 0px 3px; }
  @media (max-width: 767px) {
    .widgetMailchimp {
      height: 300px !important; }
      .widgetMailchimp .mc4wp-form-fields input[type="submit"] {
        width: 90px; } }

.homepageGrid .vc_grid .vc_clearfix > p {
  display: none; }
@media (min-width: 768px) {
  .homepageGrid .vc_grid .vc_clearfix .vc_col-sm-4 {
    width: 32.333333%; } }
.homepageGrid .vc_grid .vc_clearfix .vc_grid-item-mini .vc_gitem-animated-block .vc_gitem-zone {
  height: calc(260vw / 17.51); }
  @media (max-width: 767px) {
    .homepageGrid .vc_grid .vc_clearfix .vc_grid-item-mini .vc_gitem-animated-block .vc_gitem-zone {
      height: 260px; } }
.homepageGrid .datepost {
  margin-left: calc(-17vw / 19.20);
  margin-top: calc(-102vw / 19.20);
  width: calc(60vw / 17.51);
  height: calc(70vw / 17.51);
  background: #5fc7d1;
  color: #fff; }
  .homepageGrid .datepost .day {
    text-align: center;
    font-size: calc(30vw / 17.51); }
  .homepageGrid .datepost .month {
    text-align: center;
    font-size: calc(15vw / 17.51); }
  @media (max-width: 767px) {
    .homepageGrid .datepost {
      margin-left: -10px;
      margin-top: -102px;
      width: 60px;
      height: 70px; }
      .homepageGrid .datepost .day {
        font-size: 30px; }
      .homepageGrid .datepost .month {
        font-size: 15px; } }
.homepageGrid .oneb .datepost {
  margin-top: calc(185vw / 19.20) !important; }
.homepageGrid .oneb h4 {
  margin-top: 0 !important; }
.homepageGrid .vc_gitem-zone {
  overflow: initial; }

@media (max-width: 767px) {
  .padding130x.row.innerTop0.padding60y {
    display: flex;
    flex-direction: column-reverse; }
    .padding130x.row.innerTop0.padding60y .font25 {
      margin-top: 0px; } }

.faq .vc_toggle_title .vc_toggle_icon {
  right: 0;
  left: initial !important; }
  .faq .vc_toggle_title .vc_toggle_icon:before, .faq .vc_toggle_title .vc_toggle_icon:after {
    background-color: #5fc7d1; }
.faq.faqPage .vc_toggle_title .vc_toggle_icon {
  position: absolute;
  top: 7px; }
  .faq.faqPage .vc_toggle_title .vc_toggle_icon:after {
    visibility: hidden !important; }
  .faq.faqPage .vc_toggle_title .vc_toggle_icon:before {
    visibility: visible !important;
    transition: all .3s;
    transform: rotate(-45deg); }
.faq.faqPage.vc_toggle_active .vc_toggle_icon:before {
  transform: rotate(45deg); }

.servicesPadding > .wpb_column {
  padding: 0px 10px; }

.servicex .font20 {
  min-height: calc(48vw / 17.51); }
.servicex.link {
  padding-top: 20px; }
.servicex .vc_single_image-wrapper {
  position: relative; }
  .servicex .vc_single_image-wrapper:after {
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    content: " "; }
.servicex.icon1 .vc_single_image-wrapper:after {
  background-image: url(/wp-content/themes/skull-rive/assets/service1icon.png); }
.servicex.icon2 .vc_single_image-wrapper:after {
  background-image: url(/wp-content/themes/skull-rive/assets/service2icon.png); }
.servicex.icon3 .vc_single_image-wrapper:after {
  background-image: url(/wp-content/themes/skull-rive/assets/service3icon.png); }
.servicex.icondupont .vc_single_image-wrapper:after {
  background-image: url(/wp-content/uploads/2018/05/Entreprise-Partenaire-DupontGignac-2.png);
  background-size: contain; }
.servicex.iconMarieJosee .vc_single_image-wrapper:after {
  background-image: url(/wp-content/uploads/2018/05/Entreprise-Partenaire-MarieJosee-Paul-2.png);
  background-size: contain; }
.servicex.wpb_text_column {
  width: 100%;
  max-width: 371px;
  background: #eff9fa;
  padding: calc(20vw / 17.51);
  margin-top: calc(20vw / 17.51); }
  @media (max-width: 767px) {
    .servicex.wpb_text_column {
      width: 100%;
      padding-top: 18px;
      padding-bottom: 18px; }
      .servicex.wpb_text_column .font20 {
        font-size: 18px;
        font-weight: bold; } }
.servicex.link {
  text-decoration: none;
  color: #5fc7d1; }

.serviceEntreprise {
  width: 100%;
  max-width: 371px;
  /*padding: widthCalc(20);*/
  margin-top: calc(20vw / 17.51);
  min-height: calc(380vw / 17.51); }
  @media (max-width: 767px) {
    .serviceEntreprise {
      width: 100%;
      padding-top: 18px;
      padding-bottom: 18px; }
      .serviceEntreprise .font20 {
        font-size: 18px;
        font-weight: bold; } }

.serviceEntreprise1 {
  width: 100%;
  max-width: 371px;
  /*padding: widthCalc(20);*/
    /*margin-top: widthCalc(20);
	min-height: calc(380vw / 17.51);*/ }
  @media (max-width: 767px) {
    .serviceEntreprise1 {
      width: 100%; }
      .serviceEntreprise1 .font20 {
        font-size: 18px;
        font-weight: bold; } }

#masthead {
  position: fixed;
  background: #5fc7d1;
  height: 100%;
  width: calc(310vw / 17.51); }
  #masthead .site-branding {
    padding: calc(25vw / 17.51) 0px calc(50vw / 17.51); }
    #masthead .site-branding > a {
      display: flex;
      justify-content: center; }
    #masthead .site-branding img {
      width: calc(233vw / 17.51);
      height: calc(64vw / 17.51);
      max-width: 233px;
      max-height: 64px; }
  #masthead #sideMenu > ul > li > a {
    font-size: calc(16vw / 17.51);
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-weight: normal; }
  #masthead #primary-menu {
    border-top: 1px solid #8fd8df; }
  #masthead #sideMenu {
    width: initial; }
    #masthead #sideMenu a {
      text-transform: uppercase;
      padding: calc(13vw / 17.51) calc(20vw / 17.51) calc(13vw / 17.51) calc(40vw / 17.51); }
    #masthead #sideMenu .menu-item-has-children {
      position: relative; }
      #masthead #sideMenu .menu-item-has-children .arrow {
        position: absolute;
        height: calc(65vw / 17.51);
        top: -4px;
        right: 0;
        width: calc(45vw / 17.51);
        cursor: pointer; }
      #masthead #sideMenu .menu-item-has-children > .arrow:before {
        background: url("/wp-content/themes/skull-rive/assets/arrow.png");
        content: " ";
        padding-left: calc(24vw / 17.51);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: calc(12vw / 17.51);
        position: absolute;
        right: calc(11vw / 17.51);
        top: calc(23vw / 17.51);
        transform: rotate(-90deg);
        transition: .3s all; }
      #masthead #sideMenu .menu-item-has-children.active > .arrow:before {
        transform: rotate(0deg); }

.faq .vc_toggle_title {
  padding-right: 20px; }

.articlePage .entry-header {
  display: flex;
  padding-bottom: 30px; }
  .articlePage .entry-header h1, .articlePage .entry-header h2 {
    margin-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0px; }
.articlePage .dateArticle {
  margin-right: 30px;
  padding: 15px;
  background: #5fc7d1;
  text-align: center;
  color: #fff; }
  .articlePage .dateArticle .day {
    line-height: 24px;
    font-weight: bold; }
  .articlePage .dateArticle .month {
    line-height: 18px;
    font-weight: bold; }
.articlePage .shareSocial {
  display: flex;
  width: max-content;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px; }
  .articlePage .shareSocial .links .fa {
    color: #5fc7d1;
    font-size: 26px;
    padding: 0px 8px; }
    .articlePage .shareSocial .links .fa:first-child {
      padding-left: 16px; }
.articlePage .stats {
  padding-top: 14px; }
  .articlePage .stats span {
    padding-left: 5px;
    padding-right: 17px; }
.articlePage .widget.widget_categories {
  background: #5fc7d1;
  color: #fff;
  display: inline-block;
  padding: 17px 0px; }
  .articlePage .widget.widget_categories .widget-title {
    padding-left: 17px;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase; }
  .articlePage .widget.widget_categories li {
    padding: 0px 17px; }
    .articlePage .widget.widget_categories li:hover {
      background: #6adde8; }
  .articlePage .widget.widget_categories a {
    display: block;
    text-transform: uppercase;
    line-height: 35px;
    color: #fff;
    text-decoration: none; }
    @media (max-width: 1366px) {
      .articlePage .widget.widget_categories a {
        line-height: 30px; } }
  .articlePage .widget.widget_categories ul {
    margin: 0px;
    list-style: none;
    padding: 0px; }
.articlePage .comment-form .btn-theme {
  width: auto;
  cursor: pointer; }

.contact {
  padding-right: 20px; }
  .contact input, .contact select {
    border: 1px solid #343e47 !important;
    background: #fff;
    color: #343e47 !important; }

#tracking {
  list-style: none;
  display: inline; }
  #tracking li {
    float: left;
    margin: 5px 2px; }

.posfixb {
  position: absolute;
  bottom: 1vw; }

@media (max-width: 767px) {
  .contentSlider {
    display: none; }

  .servicex {
    margin-top: 20px !important; }

  .servicex.link {
    position: relative; }

  .mobilepadd {
    margin-left: 50px;
    margin-right: 50px; } }
@media (max-width: 1439px) {
  .carousel .carousel-item > img {
    height: auto; } }
.gr {
  color: #404040;
  text-decoration: none; }
  .gr:visited {
    color: #404040; }

.ctur a {
  color: #5fc7d1;
  text-decoration: none; }
  .ctur a:visited {
    color: #5fc7d1; }

.contactform input[type="text"], .contactform input[type="email"], .contactform input[type="url"], .contactform input[type="password"], .contactform input[type="search"], .contactform input[type="number"], .contactform input[type="tel"], .contactform input[type="range"], .contactform input[type="date"], .contactform input[type="month"], .contactform input[type="week"], .contactform input[type="time"], .contactform input[type="datetime"], .contactform input[type="datetime-local"], .contactform input[type="color"], .contactform textarea, .contactform select {
  border: 1px solid #343e47 !important;
  background: #fff;
  color: #343e47 !important;
  padding: calc(17px / 1751 * 1366) !important; }
.contactform input[type="submit"] {
  width: auto;
  height: auto;
  padding: calc(8px / 1751 * 1366) calc(65px / 1751 * 1366) !important;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px; }
.contactform input[type="radio"] {
  width: 20px;
  height: 20px;
  background: none;
  position: relative;
  top: 3px; }
.contactform .wpcf7-list-item-label {
  padding-bottom: 5px; }

.tabsHome .brz-tabs__nav {
  border-bottom: 1px solid #FFB71B; }
  .tabsHome .brz-tabs__nav .brz-tabs__nav--button {
    padding-top: 63px; }
  .tabsHome .brz-tabs__nav .brz-tabs__nav--active .brz-text__editor {
    color: #FFB71B; }
  .tabsHome .brz-tabs__nav li:nth-child(1) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab1.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(2) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab2.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(3) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab3.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(4) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab4.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(5) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab5.jpg") no-repeat center top; }
  .tabsHome .brz-tabs__nav li:nth-child(6) > .brz-tabs__nav--button {
    background: url("/wp-content/themes/beans-theme/assets/images/tab6.jpg") no-repeat center top; }

.bgLeif {
  background: url("/wp-content/themes/beans-theme/assets/images/bgleif.jpg") no-repeat center top; }

.brz .css-lfbrd7 .brz-section__content, .brz [data-css-lfbrd7] .brz-section__content {
  min-height: initial !important; }

.brz .brz-section__content > .brz-bg {
  height: initial !important; }

/*# sourceMappingURL=style.css.map */
